<div class="sub_section_header">A Resource about Privacy for Federal Government Agencies</div>

<A HREF="https://www.fpc.gov">Fpc.gov</A> is the website of the <A HREF="https://www.fpc.gov/privacy/federal-privacy-council/">Federal Privacy Council</A>.
The Federal Privacy Council was established in February 2016 by the President of the United States as the principal interagency 
forum to improve the privacy practices of Federal Government agencies and the entities acting on their behalf.<BR><BR>

 <ul class="usa-accordion-bordered" style="width:1300px;">
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a1">
      Materials on this Website
    </button>
    <div id="b-a1" class="usa-accordion-content">
 
               The materials on this website were compiled by the Federal Privacy Council and include publicly available information about the Federal Privacy Council and some of its ongoing initiatives.  This website also provides a partial inventory of laws, policies, and best practices related to the creation, collection, use, processing, storage, maintenance, dissemination, disclosure, and disposal of personally identifiable information (PII) by agencies within the Federal Government.
<p></p>
This website does not provide a complete inventory of all the statutory and policy requirements associated with managing PII and protecting privacy across the Federal Government.  Not all requirements or best practices on this website apply to all agencies.  The information contained on this website may not reflect current legal developments or agency-specific requirements and may not be accurate or complete.
<p></p>
This website is not intended to compile or include requirements or best practices that relate to the private sector.  Some of the materials on this website may apply or be of interest to entities outside of the Federal Government; but, the focus of this website is exclusive to Federal agency privacy professionals and the requirements and best practices that apply to agencies in the Federal Government.
                                  

                                                
    </div>
  </li>
                                                    
<li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a2">
Contacting the Federal Privacy Council
    </button>
    <div id="b-a2" class="usa-accordion-content">
 Should you identify a potential error on this website, including failure to include a significant resource relating to the responsibilities and practices for Federal agencies, or if you have encountered an accessibility problem, please email us at privacy.council@gsa.gov. Although we are interested in your feedback and suggestions, please be aware that we may not be able to respond to all email inquiries.
If you choose to provide feedback or to report an issue with accessibility and you send us your personal information via email at privacy.council@gsa.gov, we will only use that information to respond to your message. Please review the website’s <A HREF="https://www.fpc.gov/privacy/">privacy policy</A> to learn more about how the Federal Privacy Council may use information sent to the Federal Privacy Council or collected via this website.


               </div>
           
  </li>
                    



                                                 <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a3">
      Accessibility
    </button>
    <div id="b-a3" class="usa-accordion-content">

The Privacy Council is committed to providing access to all individuals—with or without disabilities—seeking information on fpc.gov. To provide this information, we have built fpc.gov to conform to <A HREF="https://www.section508.gov/section508-laws">Section 508 of the Rehabilitation Act</A> (as amended). Section 508 requires that all individuals with disabilities (whether Federal employees or members of the general public) have access to, and use of, information and data comparable to that provided to individuals without disabilities, unless doing so would impose an undue burden.
If you use assistive technology (e.g., a screen reader, eye tracking device, voice recognition software) and have difficulty accessing information on fpc.gov, please email us at privacy.council@gsa.gov. If you do email us, please write “508 Compliance” in the subject line of your email and provide the URL (web address) of the material you tried to access and a description of the problem you experienced. This will help us address the issue more quickly.





                                                
    </div>
                                                                                      
  </li>




  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a4">
      Linking Policy
    </button>
    <div id="b-a4" class="usa-accordion-content">
<strong>Links to Other Sites</strong>
<p></p>
Fpc.gov includes hypertext links or pointers to information created and maintained by other Federal Government agencies and/or other public or private organizations. Fpc.gov provides these links and pointers for your information and convenience.
<p></p>
If you click on a link to an outside or third-party website , you will leave the fpc.gov website, and your activity on any third-party sites will be governed by the third parties’ privacy and security policies.
<p></p>
Please note, the Federal Privacy Council is not responsible for the content of any third-party website. The inclusion of links and pointers to third-party websites is not intended to assign importance to those sites or the information contained on those sites, and should not be considered an endorsement or a recommendation by the Federal Privacy Council of any views or materials offered by these sites. The Federal Privacy Council does not control or guarantee the accuracy, relevance, timeliness, or completeness of the information contained on any linked site.
<p></p>
<strong>Linking to fpc.gov</strong><BR>
Fpc.gov is maintained by the Federal Privacy Council.
<p></p>
This is a public domain website, which means you may link to fpc.gov at no cost and without specific permission.
<p></p>
If you choose to link to this site, we suggest including a description:
<p></p>
Fpc.gov is the website of the Federal Privacy Council.<BR>
-or-<BR>
Fpc.gov is the website of the Federal Privacy Council. This website includes a compilation of select information related to the responsibilities and best practices for Federal Government agencies managing information resources that involve personally identifiable information (PII) and privacy requirements set forth in laws, guidance, standards, and policies.
<p></p>


                              
    </div>
    
                                                                                      
      </li>
                            
                        
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a5">
      Copyright
    </button>
    <div id="b-a5" class="usa-accordion-content">

Most of the material on fpc.gov website is created by Federal employees, and you may reproduce, publish or otherwise use it without permission consistent with the Copyright Act of 1976. Please consider appropriate citation to the Federal Privacy Council as the source. Copyrighted materials may also appear on this website, or may be reached through a link on this website. Copyright and other intellectual property laws may apply to your use of those materials. 
Most images found on fpc.gov were licensed for use by the Federal Privacy Council from a stock photography service or other copyright holder, who may prohibit republication, retransmission, reproduction, or any other use of the images.


                              
    </div>
    
                                                                                      
      </li>
</ul>

