<div class="usa-width-one-whole">
  <div class="tab">
    <button class="tablinks" onclick="openTabs(event, 'legislative')" id="defaultOpen">Legislative Branch</button>
    <button class="tablinks" onclick="openTabs(event, 'judicial')">Judicial Resources</button>
    <button class="tablinks" onclick="openTabs(event, 'states')">Privacy at the State Level</button>
    <button class="tablinks" onclick="openTabs(event, 'international')">International Privacy</button>
  </div>

<!-- Agency Resources -->
<div id="legislative" class="tabcontent">
  <h2>Legislative Branch</h2>
  Both the U.S. House of Representatives and the U.S. Senate have multiple committees with overlapping jurisdiction over a wide range of issues that may impact privacy in both the public and private sectors.  This web page includes links to some of the committees and subcommittees that have considered issues or legislation relating to privacy in recent years. This is not an exhaustive list.<br><br>
  <ul class="usa-accordion-bordered">
    <li>
      <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-a1">
        U.S. House of Represenatives
      </button>
      <div id="b-a1" class="usa-accordion-content">
        <a href="https://intelligence.house.gov/">U.S. House of Representatives Permanent Select Committee on Intelligence</a><br>
        The U.S. House Permanent Select Committee on Intelligence is charged with the oversight of the U.S. intelligence community, which includes the intelligence and intelligence related activities of 17 elements of the Federal Government, and the Military Intelligence Program.
    <br><br>
          <a href="https://judiciary.house.gov/">U.S. House of Representatives Judiciary Committee</a><br>
          The Committee on the Judiciary includes among its concerns not only civil and criminal judicial proceedings and Federal courts and judges, but also issues relating to bankruptcy, espionage, terrorism, the protection of civil liberties, immigration and naturalization.
    <br>
          <a href="https://judiciary.house.gov/issue/encryption/">U.S. House of Representatives Judiciary Committee Encryption Working Group</a><br>
          <a href="https://judiciary.house.gov/issue/usa-freedom-act/">U.S. House of Representatives Judiciary Committee Information Page on USA Freedom Act</a><br><br>

          <a href="https://homeland.house.gov/">U.S. House of Representatives Homeland Security Committee</a><br>
          The House Homeland Security Committee was established in 2002 to, among other things, provide congressional oversight over the Department of Homeland Security.
    <br><br>
          <a href="https://energycommerce.house.gov/">U.S. House of Representatives Energy and Commerce Committee</a><br>
          The Committee on Energy and Commerce has responsibility for the Nation’s telecommunications, consumer protection, food and drug safety, public health research, environmental quality, energy policy, and interstate and foreign commerce.
    <br><br>
          <a href="https://energycommerce.house.gov/subcommittees/communications-and-technology-114th-congress">U.S. House of Representatives Energy and Commerce Committee, Subcommittee on Communications Technology</a><br>
          Jurisdiction includes electronic communications, both interstate and foreign, including voice, video, audio and data, whether transmitted by wire or wirelessly, and whether transmitted by telecommunications, commercial or private mobile service, broadcast, cable, satellite, microwave, or other mode; technology generally; emergency and public safety communications; and cybersecurity, privacy, and data security.
    <br><br>
          <a href="https://energycommerce.house.gov/subcommittees/commerce-manufacturing-and-trade-114th-congress">U.S. House of Representatives Energy and Commerce Committee, Subcommittee on Commerce, Manufacturing and Trade</a><br>
          Jurisdiction includes interstate and foreign commerce, including all trade matters within the jurisdiction of the full committee; regulation of commercial practices (the Federal Trade Commission); consumer affairs and consumer protection, including privacy matters generally; and data security.
    <br><br>
          <a href="https://energycommerce.house.gov/subcommittees/health-114th-congress">U.S. House of Representatives Energy and Commerce Committee, Subcommittee on Health</a><br>
          Jurisdiction includes health information technology, privacy, and cybersecurity.
        </div>
     </li>

  <li>
    <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-a2">
        U.S. Senate
    </button>
      <div id="b-a2" class="usa-accordion-content">
       <a href="https://www.intelligence.senate.gov/">U.S. Senate Select Committee on Intelligence</a><br>
       The Senate Select Committee on Intelligence was created by the Senate in 1976 to “oversee and make continuing studies of the intelligence activities and programs of the United States Government,” to “submit to the Senate appropriate proposals for legislation and report to the Senate concerning such intelligence activities and programs,” and to “provide vigilant legislative oversight over the intelligence activities of the United States to assure that such activities are in conformity with the Constitution and laws of the United States.”
    <br><br>
         <a href="https://www.judiciary.senate.gov/">U.S. Senate Committee on the Judiciary</a><br>
         The Senate Committee on the Judiciary’s Subcommittee on Privacy, Technology and the Law has jurisdiction over: (1) oversight of laws and policies governing the collection, protection, use and dissemination of commercial information by the private sector, including online behavioral advertising, privacy within social networking websites and other online privacy issues; (2) enforcement and implementation of commercial information privacy laws and policies; (3) use of technology by the private sector to protect privacy, enhance transparency and encourage innovation; (4) privacy standards for the collection, retention, use and dissemination of personally identifiable commercial information; and (5) privacy implications of new or emerging technologies.
    <br><br>
         <a href="https://www.hsgac.senate.gov/">U.S. Senate Committee on Homeland Security and Government Affairs</a><br>
         The Committee on Homeland Security and Governmental Affairs has jurisdiction over government operations generally and the Department of Homeland Security in particular.
    <br><br>
       <a href="https://www.commerce.senate.gov/public/index.cfm/communicationstechnologyandtheinternet">U.S. Senate Committee on Commerce, Science and Transportation, Subcommittee on Communications, Technology, Innovation and the Internet</a><br>
       The Subcommittee on Communications, Technology, Innovation, and the Internet has jurisdiction over legislation, congressional action, and other matters relating to communications. For these purposes, “communications” includes telephones, cell phones, the Internet, commercial and noncommercial television, cable, satellite broadcast, satellite communications, wireline and wireless broadband, radio, consumer electronic equipment associated with such services, and public safety communications.

      </div>
    </li>

  <li>
      <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-a3">
        Information on Pending Legislation and Other Legislative Branch Activity </button>
      <div id="b-a3" class="usa-accordion-content">
        <a href="https://www.congress.gov/">Congress.gov</a><br>
        Congress.gov is the official website for U.S. Federal legislative information.  It is presented by the Library of Congress (LOC) using data from the Office of the Clerk of the U.S. House of Representatives, the Office of the Secretary of the Senate, the Government Publishing Office, Congressional Budget Office, and the LOC’s Congressional Research Service.
        <br><br>
        <i>Tip: This site has a search function to help users find legislation related to “privacy” or other related search terms.</i>
    <br><br>
        <a href="https://www.gpo.gov/fdsys/browse/collection.action?collectionCode=BILLS">U.S. Government Publishing Office Federal Digital System</a><br>
        The U.S. Government Publishing Office (GPO) is the Federal Government’s official, digital, secure resource for producing, procuring, cataloging, indexing, authenticating, disseminating, and preserving the official information products of the Federal Government.  GPO’s Federal Digital System (FDsys) provides free online access to official publications from all three branches of the Federal Government.  Since GPO is the source of bills for Congress.gov, a bill may appear sooner on GPO’s site than on Congress.gov.
    <br><br>
        <a href="https://www.loc.gov/law/help/legal-reports.php">U.S. Library of Congress Law Library</a><br>
        The Law Library of Congress produces reports primarily for Members of Congress.  The legal research reports listed by topic (including “Privacy Rights and Data Protection”) provide commentary and recommended resources on issues and events. These reports are provided for reference purposes only and do not constitute legal advice. The information provided reflects research undertaken as of the date of writing, which has not been updated unless specifically noted.
  <br><br>
        <a href="https://www.loc.gov/law/find/hearings/privacy.php">U.S. Library of Congress Law Library Information Page on Freedom of Information/Privacy Hearings</a><br>
        The Law Library of Congress contains approximately 75,000 volumes of printed Congressional Hearings. As part of the Law Library’s transition to the digital future, a collaborative pilot project was undertaken with Google, Inc., to digitize the entire collection and make it freely available to Congress and the world.  Three collections have been selectively compiled to provide users with a test experience.  One of collections is “Freedom of Information/Privacy Hearings.”
      </div>
    </li>
  </ul>
</div>
<!-- judicial -->
 <div id="judicial" class="tabcontent">
  <h2>Judicial Resources</h2>
  The United States Courts were created under Article III of the Constitution to administer justice fairly and impartially, within the jurisdiction established by the Constitution and Congress.  The Judicial Conference of the United States is the national policy-making body for the Federal courts, including for the enactment of court rules* to protect privacy in the Federal court system.  The Federal courts work with the Executive Branch to balance the interest of the public in transparency while protecting the legitimate concerns for privacy and confidentiality of the litigants using the judicial system.  This page includes links to rules and policies relating to the protection of privacy. This is not an exhaustive list.<br><br>

<ul class="usa-accordion-bordered">
  <li>
    <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-b1">
      Current Rules of Practice Procedure
    </button>
    <div id="b-b1" class="usa-accordion-content">
      In 2003, the <a href="http://www.uscourts.gov/about-federal-courts/governance-judicial-conference">Judicial Conference</a> enacted court rules to protect privacy in Federal court filings by requiring attorneys filing documents with the courts to redact personal identifiers such as Social Security numbers, names of minor children, financial account numbers, dates of birth, and, in criminal cases, home addresses.  The rules apply to all criminal and civil cases in trial and appellate courts, as well as cases in specialized courts such as Bankruptcy and Tax Courts.
<br><br>
      <a href="">Federal Rules of Appellate Procedure (Fed. R. App. P. 25)</a><br>
      <a href="">Federal Rules of Bankruptcy Procedure (Fed. R. Bankr. P. 9037)</a><br>
      <a href="">Federal Rules of Civil Procedure (Fed. R. Civ. P. 5.2)</a><br>
      <a href="">Federal Rules of Criminal Procedure (Fed. R. Crim. P. 49.1)</a><br>
<br>
      The rules also make reference to the ability of judges to use protective orders as a flexible means of protecting sensitive personal information not otherwise addressed in the privacy rules.  (See, e.g., Fed. R. Civ. P. 5.2(e)).
    </div>
  </li>
  <li>
    <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-b2">
      Privacy Policy for Electronic Case Files
    </button>
    <div id="b-b2" class="usa-accordion-content">
      In March 2008, the Judicial Conference approved the <a href="http://www.uscourts.gov/rules-policies/judiciary-policies/privacy-policy-electronic-case-files">Policy on Privacy and Public Access to Electronic Case Files</a>. This policy imposes limitations on public access to certain records in criminal cases, designed to protect individuals involved in the process as well as limit the risk of obstruction of justice.  This policy also governs the process of review and redaction of transcripts of court proceedings before they are released to the public.
      <br><br>
      <i>*This authority to make rules for the courts is subject to review by the United States Supreme Court and the national legislature.  See, <a href="http://www.uscourts.gov/rules-policies/about-rulemaking-process/how-rulemaking-process-works">How the Rulemaking Process Works.</a></i>
    </div>
  </li>
</ul>
<br>
</div>

<!-- State -->
<div id="states" class="tabcontent">
  <h2>Privacy at the State Level - Selected Resources</h2>
      In the United States, many privacy issues may be addressed by both the Federal Government and state governments.  To provide a more comprehensive perspective about privacy protections in the United States, this section includes links to bi-partisan, non-governmental organizations that represent state governments and state elected officials.  This page also includes links to Federal Government resources about state, local, and tribal governments.  This is not an exhaustive list.
      <br><br>
  <ul class="usa-accordion-bordered">
  <li>
    <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-c1">
      National Governors Association
    </button>
    <div id="b-c1" class="usa-accordion-content">
      The <a href="http://www.nga.org/">National Governors Association (NGA)</a> is the bipartisan organization of the Nation’s governors. Through NGA, governors share best practices, speak with a collective voice on national policy and develop innovative solutions that improve state government and support the principles of federalism.
  <br><br>
        Within the NGA, the Center for Best Practices serves as the research and development entity that directly serves the Nation’s governors and their key policy staff.
  <br><br>
        <a href="https://www.nga.org/cms/center/edu">NGA Center for Best Practices, Education Division</a><br>
        This division focuses on issues that include data and accountability.<br>
        Tip: Click on Data and Accountability to find position papers on privacy-related issues.
  <br><br>
        <a href="https://www.nga.org/cms/center/eet">NGA Center for Best Practices, Environment, Energy, and Transportation Division</a><br>
        This division focuses on several issues, including developing a modern electricity grid.<br>
        Tip: Click on Publications to find position papers on privacy-related issues.
  <br><br>
        <a href="https://www.nga.org/cms/center/health">NGA Center for Best Practices, Health Division</a><br>
        This division focuses on issues including data and analytics related to healthcare and public health.<br>
        Tip: Click on Publications to find position papers on privacy-related issues.
  <br><br>
        <a href="https://www.nga.org/cms/center/hsps">NGA Center for Best Practices, Homeland Security & Public Safety Division</a><br>
        This division focuses on issues including public safety broadband, cyber and electronic crime, and justice information sharing.<br>
        Tip: Click on Publications to find position papers on privacy-related issues.itution pursuing a qualifying degree or certificate.

      </div>
    </li>
    <li>
      <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-c2">
        National Center for State Courts
      </button>
      <div id="b-c2" class="usa-accordion-content">
        The <a href="https://www.ncsc.org/">National Center for State Courts (NCSC)</a> seeks to improve judicial administration in the United States and around the world. It functions as a think-tank, library, non-profit consulting firm for the courts, advocate for judicial and legislative reform, and a center of education in the field of judicial administration.
  <br><br>
      <a href="https://www.ncsc.org/Services-and-Experts/Government-Relations/Privacy-and-Access/Protection-of-Social-Security-Numbers.aspx">NCSC Government Relations Privacy & Access Topic</a><br>
      The NCSC explored the issue of protecting Social Security numbers.
  <br><br>
      <a href="https://www.ncsc.org/topics/access-and-fairness/privacy-public-access-to-court-records/state-links.aspx?cat=Privacy%20Policies%20for%20Court%20Records">Privacy/Public Access to Court Records by U.S. State</a><br>
      The NCSC provides a link to the rules governing access to court records for each U.S. state.
      Tip: Click on an individual state to see the state’s applicable rules.
      </div>
    </li>
    <li>
      <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-c3">
        National Association of Attorney Generals
      </button>
      <div id="b-c3" class="usa-accordion-content">
        The <a href="http://www.naag.org/">National Association of Attorneys General (NAAG)</a> helps the 56 state and territorial attorneys general fulfill their responsibilities and assists in the delivery of high-quality legal services.
  <br><br>
        <a href="http://www.naag.org/naag/committees/naag_standing_committees/consumer-protection-committee.php">NAAG Consumer Protection Committee</a><br>
        The NAAG Consumer Protection Committee assists and enables the attorneys general by providing information, communication and support, facilitating cooperation and providing training and seminars to their staff for the exchange of ideas and information relevant to consumer protection.

        <a href="http://www.naag.org/naag/committees/naag-special-committees/internet-safetycyber-privacy-and-security-committee.php">Internet Safety/Cyber Privacy and Security Committee</a><br>
        The objectives of the Internet Safety/Cyber Privacy and Security Committee are to provide a forum for examining issues related to ensuring a safe online environment for children and consumers; issues related to protecting the privacy of users of Internet and mobile applications; and issues related to the security of personal, business and government digital data.
      </div>
    </li>
    <li>
      <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-c4">
        National Conference of State Legislatures
      </button>
      <div id="b-c4" class="usa-accordion-content">
        The <a href="http://www.ncsl.org/">National Conference of State Legislatures (NCSL)</a> is a bipartisan non-governmental organization established in 1975 to serve the members and staff of state legislatures of the states, territories, and commonwealths in the United States.<br><br>

        <a href="https://www.ncsl.org/default.aspx?tabid=27278&isSearch=false&kwdid=440">NCSL Privacy and Security Document Listing</a>
  <br><br>
        <a href="https://www.ncsl.org/research/transportation/current-unmanned-aircraft-state-law-landscape.aspx">NCSL Research: Current Unmanned Aircraft State Law Landscape</a><br>
        Tip: To learn more about state unmanned aircraft system laws, bills and resolutions, please follow the link covering measures from a specific session.
  <br><br>
        <a href="https://www.ncsl.org/research/financial-services-and-commerce/identity-theft-state-statutes.aspx">NCSL State Statutory Information for Identity Theft</a> <br>
        Tip: Type in the name of a state in the box to be taken directly to the state’s statutory information.
  <br><br>
        <a href="https://www.ncsl.org/research/telecommunications-and-information-technology/security-breach-notification-laws.aspx">NCSL Research: State Security Breach Notification Laws</a>
  <br><br>
        <a href="https://www.ncsl.org/research/telecommunications-and-information-technology/privacy-and-security.aspx">NCSL Research: Privacy and Security</a>

      </div>
    </li>
    <li>
      <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-c5">
        Library of Congress
      </button>
      <div id="b-c5" class="usa-accordion-content">
        The <a href="http://www.loc.gov/">Library of Congress (LOC)</a> is the largest library in the world, with millions of books, recordings, photographs, newspapers, maps and manuscripts in its collections. The Library is the main research arm of the U.S. Congress and the home of the U.S. Copyright Office.
  <br><br>
        <a href="https://www.loc.gov/law/help/guide/states.php">Guide to Law Online – U.S. States & Territories</a><br>
      The LOC provides various legal documents for each state and territory in the United States.<br>
      Tip: Click on an individual state or territory to be directed to the legal documents for that state or territory.
    </div>
  </li>
  <li>
    <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-c6">
      State, Local, and Tribal Governments at USA.gov
    </button>
    <div id="b-c6" class="usa-accordion-content">
      <a href="https://www.usa.gov/state-tribal-governments">www.usa.gov/state-tribal-governments</a><br><br>
      Find contact information for state, local, and tribal governments, including respective state consumer protection offices.
    </div>
  </li>
  </ul>
</div>

<!-- international -->
 <div id="international" class= "tabcontent">
  <h2>International Privacy - Selected Resources</h2>
  Privacy is a global issue. Accordingly, the United States is a member of or participates in various international efforts and agreements relating to privacy.  This page includes information about and links to various international entities and resources.  This is not an exhaustive list.<br><br>
   <ul class="usa-accordion-bordered">
    <li>
      <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-d1">
        European Union - United States Informational Resources
      </button>
      <div id="b-d1" class="usa-accordion-content">
        <a href="https://useu.usmission.gov/data_privacy.html">U.S. Mission to the European Union, Data Protection and Privacy Information Page</a><br>
        The United States has maintained diplomatic relations with the European Union (EU) and its forerunners since 1953.  Data protection and privacy is a prominent issue in the U.S.-EU relationship, and the U.S. mission has a web page devoted to it.
        <br><br>
        <a href="https://www.privacyshield.gov/">EU-US Privacy Shield</a><br>
        The EU-U.S. Privacy Shield Framework was designed by the U.S. Department of Commerce and European Commission to provide companies on both sides of the Atlantic with a mechanism to comply with EU data protection requirements when transferring personal data from the European Union to the United States in support of transatlantic commerce.
      </div>
    </li>
    <li>
      <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-d2">
        Informational Resource Pages for Non-U.S. Laws
      </button>
      <div id="b-d2" class="usa-accordion-content">
        <a href="https://www.loc.gov/law/help/online-privacy-law/index.php">Library of Congress: Online Privacy Laws</a><br>
        These reports describe the data protection laws of the European Union and of Australia, Canada, France, Germany, Israel, Italy, Japan, Netherlands, Portugal, Spain, Sweden, and the United Kingdom. They describe the legal framework for the collection, use, and transfer of data, and examine whether existing laws are adequate to deal with online privacy in an era of rapid technological development and globalization.
         <br><br>
        <a href="https://www.loc.gov/law/help/foreign-intelligence-gathering/index.php">Library of Congress: Foreign Intelligence-Gathering Laws </a><br>
        This report contains information on laws regulating the collection of intelligence in the European Union, United Kingdom, France, Netherlands, Portugal, Romania, and Sweden. The report details how EU Member States control activities of their intelligence agencies and what restrictions are imposed on information collection.  All EU member states follow EU legislation on personal data protection, which is a part of the common European Union responsibility.
         <br><br>
        <a href="https://www.loc.gov/law/help/biometric-data-retention/index.php">Library of Congress: Biometric Data Retention for Passport Applicants and Holders</a><br>
        This site provides a table comparing the regulation of biometric data obtained in connection with passport applications and the preservation of such data in 15 selected countries.
         <br><br>
        <a href="https://www.cia.gov/library/publications/resources/the-world-factbook/">Central Intelligence Agency World Factbook</a><br>
        The Central Intelligence Agency World Factbook provides information on the history, people, government, economy, geography, communications, transportation, military, and transnational issues for 267 world entities.
      </div>
    </li>
    <li>
      <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-d3">
        Federal Government Agencies with International Privacy-Related Missions
      </button>
      <div id="b-d3" class="usa-accordion-content">
        <b>U.S. Department of Commerce</b><br><br>
        <a href="http://www.trade.gov/about.asp">International Trade Administration (ITA)</a> <br>
        The International Trade Administration (ITA) strengthens the competitiveness of U.S. industry, promotes trade and investment, and ensures fair trade through the rigorous enforcement of our trade laws and agreements.  ITA works to improve the global business environment and helps U.S. organizations compete at home and abroad.  ITA administers the EU-US Privacy Shield program.<br><br>
        <a href="https://www.ntia.doc.gov/home">National Telecommunications & Information Administration (NTIA)</a><br>
        The National Telecommunications & Information Administration (NTIA) is principally responsible for advising on telecommunications and information policy issues. NTIA’s programs and policymaking focus largely on expanding broadband Internet access and adoption in America, expanding the use of spectrum by all users, and ensuring that the Internet remains an engine for continued innovation and economic growth.<br>
        Tip: Search “privacy” to find privacy-related materials and information related to NTIA’s programs and activities.
        <br><br>
        <b>U.S. Department of State</b><br><br>
        As the nation’s lead agency on foreign affairs, the U.S. Department of State has multiple bureaus and offices that deal with international privacy issues:<br><br>
        <a href="http://www.state.gov/j/drl/index.htm">Bureau of Democracy, Human Rights, and Labor (DRL)</a><br>
        The Bureau of Democracy, Human Rights and Labor leads the U.S. efforts to promote democracy, protect human rights and international religious freedom, and advance labor rights globally.
        <a href="http://www.state.gov/s/cyberissues/index.htm">Office of the Coordinator for Cyber Issues (S/CCI)</a><br><br>
        In partnership with other countries, the State Department is leading the U.S. Government’s efforts to promote an open, interoperable, secure, and reliable information and communications infrastructure that supports international trade and commerce, strengthens international security, and fosters free expression and innovation.<br><br>
        <a href="http://www.state.gov/e/">Undersecretary for Economic Growth, Energy and the Environment</a><br>
        The Under Secretary of State for Economic Growth, Energy, and the Environment leads the State Department’s efforts to develop and implement international policies related to economic growth, energy, agriculture, the ocean, the environment, and science and technology.  The Undersecretary also serves as the Ombudsman for the EU-US Privacy Shield.
         <br><br>
        <a href="https://www.ftc.gov/about-ftc/bureaus-offices/office-international-affairs">Federal Trade Commission, Office of International Affairs</a><br>
        The Federal Trade Commission (FTC) works with competition and consumer protection agencies around the world to promote cooperation and convergence toward best practices. The FTC has built a strong network of cooperative relationships with its counterparts abroad and plays a lead role in key international organizations and networks.
         <br><br>
        <a href="https://www.sec.gov/oia">Securities Exchange Commission, Office of International Affairs</a><br>
        The Security and Exchange Commission (SEC) Office of International Affairs promotes investor protection, cross-border securities transactions and fair, efficient and transparent markets by advancing international regulatory and enforcement cooperation, promoting the adoption of high regulatory standards worldwide, and formulating technical assistance programs to strengthen the regulatory infrastructure in global financial markets.
         <br><br>
        <a href="https://www.cftc.gov/International/index.htm">Commodity Futures Trading Commission, Office of International Affairs</a><br>
        The mission of the Commodity Futures Trading Commission (CFTC) is to foster open, transparent, competitive, and financially sound markets, to avoid systemic risk, and to protect the market users and their funds, consumers, and the public from fraud, manipulation, and abusive practices related to derivatives and other products that are subject to the Commodity Exchange Act.<br><br>
        The CFTC cooperates with foreign regulatory and enforcement authorities through formal Memoranda of Understanding (MOUs) and other arrangements to combat cross-border fraud and other illegal practices that could harm customers or threaten market integrity.  The CFTC makes and receives a significant number of requests for assistance and information to and from foreign authorities in connection with various surveillance and enforcement issues.
         <br><br>
        <a href="https://www.ssa.gov/international/index.html">Social Security Administration, Office of International Programs</a><br>
        The United States has bilateral Social Security agreements with 25 countries. The agreements improve benefit protection for workers who have divided their careers between the United States and another country. They also eliminate dual Social Security coverage and taxes for multinational companies and expatriate workers.
      </div>
    </li>
    <li>
      <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-d4">
        Library of Congress
      </button>
      <div id="b-d4" class="usa-accordion-content">
        The <a href="http://www.loc.gov/">Library of Congress (LOC)</a> is the largest library in the world, with millions of books, recordings, photographs, newspapers, maps and manuscripts in its collections. The Library is the main research arm of the U.S. Congress and the home of the U.S. Copyright Office.
  <br><br>
        <a href="https://www.loc.gov/law/help/guide/states.php">Guide to Law Online – U.S. States & Territories</a><br>
        The LOC provides various legal documents for each state and territory in the United States.<br>
        Tip: Click on an individual state or territory to be directed to the legal documents for that state or territory.
      </div>
    </li>
    <li>
      <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-d5">
        International Privacy-Related Instruments to which the United States is a Party
      </button>
      <div id="b-d5" class="usa-accordion-content">
        <a href="http://www.ohchr.org/EN/UDHR/Pages/UDHRIndex.aspx"><b>Universal Declaration of Human Rights</b></a><br>
        The Universal Declaration of Human Rights (UDHR) is a milestone document in the history of human rights. Drafted by representatives with different legal and cultural backgrounds from all regions of the world, it set out, for the first time, fundamental human rights to be universally protected. The UDHR was adopted by the United Nations General Assembly in Paris on 10 December 1948 during its 183rd plenary meeting.<br><Br>

        Article 12 of the UDHR provides that “No one shall be subjected to arbitrary interference with his privacy, family, home or correspondence, nor to attacks upon his honour and reputation. Everyone has the right to the protection of the law against such interference or attacks.”
         <br><br>
        <a href="http://www.ohchr.org/EN/ProfessionalInterest/Pages/CCPR.aspx"><b>International Covenant on Civil and Political Rights</b></a><br>
        The International Covenant on Civil and Political Rights (ICCPR) was  adopted and opened for signature, ratification and accession by United Nations General Assembly resolution 2200A (XXI) of 16 December 1966.  The ICCPR entered into force on 23 March 1976.  The United States became a signatory to this treaty in 1977 and ratified it in 1992.<br><br>

        Article 17 of the ICCPR provides that:
        <ul>
        <li>No one shall be subjected to arbitrary or unlawful interference with his privacy, family, home or correspondence, nor to unlawful attacks on his honour and reputation.</li>
        <li>Everyone has the right to the protection of the law against such interference or attacks.</li>
        </ul>
         <br><br>
        <a href="https://www.oecd.org/sti/ieconomy/privacy.htm"><b>Organisation of Economic Cooperation and Development Privacy Guidelines</b></a><br>
        Since the mid-1970s, the Organization of Economic Cooperation and Development (OECD) has played an important role in promoting respect for privacy as a fundamental value and a condition for the free flow of personal data across borders.
         <br><br>
        On 11 July 2013 the OECD Council adopted a revised Recommendation Concerning Guidelines Governing the Protection of Privacy and Transborder Flows of Personal Data (“Privacy Guidelines”). This revision is the first since the original 1980 release of the Guidelines and arises out of a call by Ministers in the 2008 Seoul Declaration for the Future of the Internet Economy to assess the Guidelines in light of “changing technologies, markets and user behaviour, and the growing importance of digital identities”.
          <br><br>
        <a href="https://www.coe.int/en/web/cybercrime/the-budapest-convention"><b>Budapest Convention on Cybercrime</b></a><br>
        The Convention on Cybercrime of the Council of Europe (CETS No.185), known as the Budapest Convention, is the first international treaty on crimes committed via the Internet and other computer networks, dealing particularly with infringements of copyright, computer-related fraud, child pornography and violations of network security. It also contains a series of powers and procedures such as the search of computer networks and interception.  Its main objective is to pursue a common criminal policy aimed at the protection of society against cybercrime, especially by adopting appropriate legislation and fostering international co-operation.  It was opened for signature and signed by the United States in 2001, and ratified by the United States in 2006.
          <br><br>
        <a href="https://www.state.gov/j/inl/rls/nrcrpt/2016/vol2/253357.htm"><b>Mutual Legal Assistance Treaties</b></a><br>
        Mutual Legal Assistance Treaties (MLATs) generally allow for the exchange of evidence and information in criminal matters and proceedings related to criminal matters. In money laundering cases, MLATs can be extremely useful to obtain banking and other financial records from treaty partners. The Department of State, in cooperation with the Department of Justice, negotiates MLATs with other countries.
          <br><br>
        <a href="https://www.iosco.org/about/?subsection=mmou"><b>International Organization of Securities Commissions Multilateral Memorandum of Understanding</b></a><br>
        The International Organization of Securities Commissions (IOSC) Multilateral Memorandum of Understanding (MMoU) sets an international benchmark for cross-border co-operation. Established in 2002, it has provided securities regulators with the tools for combating the cross-border fraud and misconduct that can weaken global markets and undermine investor confidence.
         <br><br>
        The MMoU includes specific requirements regarding the confidentiality of the information exchanged, and ensures that no domestic banking secrecy, blocking laws or regulations will prevent securities regulators from sharing this information with their counterparts in other jurisdictions.  United States signatories to the MMoU include the Commodity Futures Trading Commission and the Securities and Exchange Commission.
      </div>
    </li>
    <li>
      <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-d6">
        Privacy Initiatives in International Organization of which the United States is a Member
      </button>
      <div id="b-d6" class="usa-accordion-content">
        <a href="https://www.oecd.org/sti/ieconomy/workingpartyonsecurityandprivacyinthedigitaleconomyspde.htm">OECD Working Party on Security and Privacy in the Digital Economy</a><br>
        The Organisation for Economic Co-operation and Development (OECD) was officially born on 30 September 1961, when the Convention entered into force.  The OECD’s Working Party on Security and Privacy in the Digital Economy (SPDE) develops public policy analysis and high level recommendations to help governments and other stakeholders ensure that digital security and privacy protection foster the development of the digital economy.
        <br><br>

        <a href="https://www.privacyenforcement.net/">Global Privacy Enforcement Network</a><br>
        The Global Privacy Enforcement Network (GPEN) grew out of the Organisation of Cooperation and Development’s 2007 Recommendation on Cross-Border Cooperation in the Enforcement of Laws Protecting Privacy.  The Recommendation called for member countries to foster the establishment of an informal network of Privacy Enforcement Authorities. It further specified a number of tasks for the network:
        <br><br>
        Discuss the practical aspects of privacy law enforcement co-operation;
        Share best practices in addressing cross-border challenges;
        Work to develop shared enforcement priorities; and
        Support joint enforcement initiatives and awareness campaigns.
        <br><br>
        Privacy Enforcement Authorities from 47 countries are part of GPEN.  The United States is represented in GPEN by both the Federal Trade Commission and the Federal Communications Commission.

        <a href="http://www.cbprs.org/">Asia-Pacific Economic Cooperation Cross Border Privacy Rules</a><br>
        The Asia-Pacific Economic Cooperation (APEC) is a regional economic forum established in 1989 to leverage the growing interdependence of the Asia-Pacific region. APEC’s 21 members aim to create greater prosperity for the people of the region by promoting balanced, inclusive, sustainable, innovative and secure growth and by accelerating regional economic integration.
        <br><br>
        The APEC Cross Border Privacy Rules (CBPR) system was developed by participating APEC economies after seeking the views of industry and civil society, to build consumer, business and regulator trust in cross border flows of personal information. The APEC CBPR system requires participating businesses to develop and implement data privacy policies consistent with the APEC Privacy Framework. These policies and practices must be assessed as compliant with the minimum program requirements of the APEC CBPR system by an Accountability Agent (an independent APEC CBPR system recognized public or private sector entity) and be enforceable by law.
         <br><br>

        <a href="http://www.ohchr.org/EN/Issues/Privacy/SR/Pages/SRPrivacyIndex.aspx">United Nations Special Rapporteur on the Right to Privacy</a><br>
        The United Nations Human Rights Council, established in 2006, replaced the 60-year-old UN Commission on Human Rights as the key independent UN intergovernmental body responsible for human rights.  A Special Rapporteur is an independent expert appointed by the Human Rights Council to examine and report back on a country situation or a specific human rights theme. The Special Rapporteur on the Right to Privacy is mandated by Human Rights Council Resolution 28/16.  In July 2015, the Human Rights Council appointed Professor Joseph Cannataci of Malta as the first-ever Special Rapporteur on the right to privacy. The appointment is for three years.
        <br><br>

        <a href="http://www.ohchr.org/EN/Issues/Terrorism/Pages/SRTerrorismIndex.aspx">United Nations Special Rapporteur on the Promotion and Protection of Human Rights and Fundamental Freedoms While Countering Terrorism</a><br>
        In April 2005, the United Nations Commission on Human Rights, in resolution 2005/80, decided to appoint, for a period of three years, a Special Rapporteur on the promotion and protection of human rights and fundamental freedoms while countering terrorism. Like other Special Procedures, this mandate was assumed by the United Nations Human Rights Council (General Assembly resolution 60/251), and extended for one year, subject to the review to be undertaken by the Council (Human Rights Council decision 1/102).  Past Special Rapporteurs have issued reports focusing on issues with implications for privacy, such as airport security and intelligence collection.
        <br><br>

        <a href="https://www.coe.int/en/web/cybercrime/tcy">Council of Europe T-CY Committee on Cyber Crime</a><br>
        The Cybercrime Convention Committee (T-CY) represents the State Parties to the Budapest Convention on Cybercrime. Based on article 46 of the Convention, the consultation of the Committee aims at facilitating the effective use and implementation of the Convention, the exchange of information and consideration of any future amendments.
        <br><br>

        <a href="https://www.itu.int/en/action/cybersecurity/Pages/default.aspx">International Telecommunications Union</a><br>
        The International Telecommunications Union (ITU) is the United Nations specialized agency for information and communication technologies (ICTs).  The ITU allocates global radio spectrum and satellite orbits, develops the technical standards that ensure networks and technologies seamlessly interconnect, and strives to improve access to ICTs to underserved communities worldwide.  A fundamental role of ITU, based on the guidance of the World Summit on the Information Society and the ITU Plenipotentiary Conference, is to build confidence and security in the use of ICTs.
      </div>
    </li>
  </ul>
</div>

</div>


<script>
function openTabs(evt, title) {
    // Declare all variables
    var i, tabcontent, tablinks;

    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(title).style.display = "block";
    evt.currentTarget.className += " active";

}
  document.getElementById("defaultOpen").click();
</script>
