<!-- Tab links -->
<div class="tab">
 <button class="tablinks" onclick="openTab(event, 'agency-resources')">Agency Resources</button>
 <button class="tablinks" onclick="openTab(event, 'education')">Education & Experience</button>
 <button class="tablinks" onclick="openTab(event, 'students')">Students & Recent Graduates</button>
</div>

<!-- Tab content -->
<div id="agency-resources" class="tabcontent">
  <h2>Agency Resources</h2>
  Are you a Federal human resource specialist or hiring manager looking to attract and hire top privacy professional talent?<br><br>
  The Federal Privacy Council Talent and Career Development Subcommittee is working closely with the U.S. Office of Personnel Management (OPM) to help Federal agencies attract, hire and retain qualified privacy professionals.<br><br>
<ul class="usa-accordion-bordered">
  <li>
    <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-a1">
      Top 10 Tips for Privacy Talent Recruiting & Hiring
    </button>
    <div id="b-a1" class="usa-accordion-content">
      Privacy goes far beyond the Privacy Act. Check out these Top 10 Tips from the Toolkit for Recruiting, Hiring, and Retaining Privacy Professionals in the Federal Government. Review the Toolkit for details.
        <br><br>
      <b>Ensure you have effective privacy program leadership and governance</b><br>
      The President has stated: “Our efforts to meet these new challenges and preserve our core value of privacy, while delivering better and more effective Government services for the American people, demand leadership . . . .” (E.O. 13719.) The first question for your agency is about leadership. Is the leader of your privacy program in a central leadership position at the agency? Does he or she have the necessary authority, and privacy-related skills, knowledge and experience to lead and direct the privacy program, as required by the Office of Management and Budget? Is the program structured in ways that support its leader?
        <br><br>
      <b>Privacy goes far beyond the Privacy Act</b><br>
      Federal privacy programs follow a complex variety of laws, regulations, policies and standards, and privacy professionals work at the crossroads of law, policy and technology to support diverse agency missions. Check out the full breadth of responsibilities – and make sure your staffing plan reflects the different skills you need to perform those responsibilities.
        <br><br>
      <b>Privacy positions are multi-disciplinary</b><br>
      Privacy is a robust and rapidly growing field that attracts experts from many different disciplines. Privacy positions involve responsibilities closely related to more than one discipline and can be classified in two or more occupational series, e.g., government information specialists, general attorneys, management analysts, and IT specialists.

      <b>Check out Office of Personnel Management Resources</b><br>
      <a href="https://hru.gov/Studio_Recruitment/Studio_Recruitment.aspx">OPM's Recruitiment Policy Studio</a><br>
      <a href="https://hru.gov/Studio_Recruitment/HT_Hiring_Toolkit.aspx">Hiring Toolkit</a><br>
      <a href="https://hru.gov/Studio_Recruitment/HT_Hiring_Decision_Tool.aspx">Hiring Decision Tool</a>
      <a href="https://www.opm.gov/policy-data-oversight/assessment-and-selection/">Assessment/Selection Policy</a>

        <br><br>
      <b>Use all of the hiring authorities and flexibilities</b><br>
      The Presidential Management Fellows Program (PMF) now includes a privacy “discipline” to help you recruit privacy talent with advanced degrees. And don’t forget to look into Peace Corps volunteers, Scholarships for Service, Schedule A, and other hiring programs.
        <br><br>
      <b>Don’t re-invent the wheel – use toolkit resources</b><br>
      The toolkit was developed through collaboration with OPM and over 20 government agencies, and contains template position descriptions, job announcements, sample interview questions and more.
        <br><br>
      <b>Broaden your recruiting strategy</b><br>
      <a href="https://usajobs.gov">USAJobs</a> is a great starting point – fpc.gov highlights these open positions across the government.  But utilize other resources.  Send your job opportunity announcement (JOA) to the Federal Privacy Council listserv of almost 1000 privacy professionals across the government; post the position in privacy groups on social media sites, and on online job boards, e.g., Monster.com.
        <br><br>
      <b>Rating and ranking</b><br>
      Use privacy subject matter experts! If your agency does not have any privacy SMEs, contact the Federal Privacy Council at privacy.council@gsa.gov.
        <br><br>
      <b>Be efficient</b><br>
      Share certificates if you can and recruit from other agencies. Can your agency share a certificate of qualified candidates within its own agency or with another agency? Remember that current and former status Federal employees can apply to internal (MP) certificates.
        <br><br>
      <b>Develop your team, keep them engaged and moving up the career ladder</b><br>
      Train your team, let them work on cutting edge issues, and help them expand their skills and develop the competencies to move up. Their work is increasingly complex: drones; vehicle-to-vehicle communications; hacking; identity theft; “back doors” and encryption; the Internet of Things; surveillance; international data transfers; biometrics; terrorist financing; no unreasonable search and seizure; and free speech, freedom of religion and freedom of assembly. These all involve privacy. Only in Federal Government privacy would you face these and other cutting edge issues, with the imperatives of providing more effective service to the American people, while also protecting our core value of privacy.
    </div>
 </li>

<li>
  <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-a2">
      Toolkit for Recruiting, Hiring, and Retaining Privacy Professionals in the Federal Government </button>
    <div id="b-a2" class="usa-accordion-content">
  This Federal Privacy Council Toolkit for Recruiting, Hiring, and Retaining Privacy Professionals in the Federal Government is designed to assist Federal agency human resources staff and hiring managers in understanding the new world of Federal Government privacy, making decisions about which types of positions they should use in their privacy offices, designing Federal privacy positions, then conducting recruitment and selection activities.  This toolkit contains hiring authorities and flexibilities, template position descriptions and job opportunity announcements, interview questions, and much more.<br><br>

   <a href="https://s3.amazonaws.com/sitesusa/wp-content/uploads/sites/1141/2017/01/Privacy-Toolkit-1-13-2017.pdf" class="usa-button">Privacy Toolkit (Jan. 2017)</a>

    </div>
  </li>

<li>
    <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-a3">
      Additional Resources </button>
    <div id="b-a3" class="usa-accordion-content">
      <b>Need a subject matter expert (SME) to help in your selection process?</b><br>
      The Privacy Council and Office of Personnel Managemetn (OPM) encourage agencies to include a privacy subject matter expert (SME) in the selection process. Agencies need an expert to identify the most qualified candidates for their positions. If your agency does not have a privacy SME, the FPC may be able to find one. Please contact privacy.council@gsa.gov.
        <br><br>
      <b>Need additional resources?</b><br>
      The Talent and Career Development Subcommittee understands the challenges that your agency may face in recruiting and hiring privacy talent. The Subcommittee can help. Please contact privacy.council@gsa.gov.
    </div>
  </li>
</ul>
</div>

<div id="education" class="tabcontent">
  <h2>We Need Your Talent</h2>

  The Federal Government expects to hire dozens of privacy professionals over the coming months and countless more over the next several years.<br><br>

  Positions with privacy responsibilities usually are <a href="https://www.opm.gov/faqs/topic/employment/index.aspx">General Schedule (GS)</a> positions.   However, some positions may be <a href="https://www.opm.gov/faqs/topic/Senior-Executive-Service/index.aspx">Senior Executive Service (SES) positions or Senior Level (SL)</a> positions.  Positions in the Federal Government include:
  <ul>
      <li>Chief Privacy Officers (CPO) (may be an SES position, depending on the size of the agency)</li>
      <li>Privacy counsel</li>
      <li>Privacy analysts</li>
      <li>Government information specialist</li>
      <li>IT specialist (INFOSEC)</li>
      <li>Similar positions focused on designing, implementing, and maintaining a Federal privacy program</li>
  </ul>
  <br>
  <h4>Privacy Programs are as Diverse as the Missions and Size of the Federal Agencies</h4>
  Agencies may determine the organizational structure of their privacy programs.  When developing privacy programs and evaluating staffing and other resource needs, agencies consider such factors as:<br>
  <ul>
    <li>Size and structure, including the agency’s geographic presence</li>
    <li>Mission, and the volume, sensitivity, and uses of PII to support that mission</li>
    <li>Privacy risks associated with the creation, collection, use, processing, storage, maintenance, dissemination, disclosure, and disposal of PII</li>
    <li>Information resources, including planned investments in information technologies that will be used to create, collect, use, process, store, maintain, disseminate, disclose, and dispose of PII</li>
  </ul><br>
  Accordingly, applicants should expect that the structure of privacy programs may differ from agency to agency just as the structure of privacy programs may differ from company to company in the private sector.  Similarly, just as a health-related company may seek certain skills and experience that are different from a financial institution or software company, different agencies may look for different skill sets based on the agency’s mission (e.g., law enforcement, health and human services, statistical, and education).  Moreover, some positions in the Federal Government may require a <a href="https://www.opm.gov/faqs/topic/investigate/index.aspx">security clearance.</a><br><br>
 <ul class="usa-accordion-bordered">
  <li>
    <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-b1">
      Educational Background of Privacy Professionals
    </button>
    <div id="b-b1" class="usa-accordion-content">
      Privacy professionals in the Federal Government have a vast array of responsibilities under dozens of Federal laws, regulations, standards, and policy mandates from the Office of Management and Budget (OMB). The mandates that privacy officials implement or on which they advise agency leadership arise under the Constitution’s Fourth Amendment, the Privacy Act of 1974, the E-Government Act of 2002, the Federal Information Security Modernization Act, OMB Circular A-130, and other guidance, in addition to international privacy-related laws that may impact an agency’s mission, and many agency- and sector-specific laws and obligations, including the Bank Secrecy Act, Electronic Communications Privacy Act, and laws in the health, education, and financial sectors.  Mandates also include privacy-related information technology requirements and standards, for example, identity management, cloud computing, encryption, mobile app security, data analytics, and access controls.
        <br><br>
      Privacy is a robust and rapidly growing multidisciplinary field that attracts lawyers, IT professionals and cybersecurity experts, professors and academics, privacy analysts, and other professionals with diverse backgrounds and advanced education, not only for government privacy positions but also for non-governmental, not-for-profit, and private sector positions.
        <br><br>
      Certain Federal Government positions do not have a specific educational requirement in order to apply.  Positions in the “government information series” (GS-306) are often on the front lines of policy and technology issues, for example, making sure new technologies protect individual privacy. While not necessary to apply, certain specialties, such as history, public policy, political science, law, economics and other social sciences, can help prepare a person better for one of these positions.  These positions can be entry level through Chief Privacy Officer.
        <br><br>
      Certain positions, however, require a specific educational degree. For example, cybersecurity positions (2210 series), including those that support the privacy program, require certain degrees and education requriements.  Attorney positions (0905 series) require a law degree from an accredited law school.
    </div>
  </li>
  <li>
    <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-b2">
      More About Information Technology (2210 Series)
    </button>
    <div id="b-b2" class="usa-accordion-content">
      The Information Technology 2210 Series includes two options for qualifying applicants. Alternative A covers GS-5 through GS-15 (or equivalent) and must be used for GS-5 and GS-7 positions requiring IT-related education and/or IT-related experience. Alternative B covers only positions at the GS-5 or GS-7 (or equivalent) that do not require IT-related education or IT-related experience upon entry.
        <br><br>
      Agencies may determine if they select to fill their positions via Alternative A or Alternative B. Individuals may qualify based on education and/or experience. This is typical with occupational series that are assigned to the Administrative category of work under the General Schedule.
      <h6>REQUIREMENTS</h6>
      <ul>
        <li><b>GS-5 (or equivalent)</b> - bachelor’s degree</li>
        <li><b>GS-7 (or equivalent)</b>  - 1 full year of graduate level education OR superior academic achievement</li>
        <li><b>GS-9 (or equivalent)</b>  - master’s degree or equivalent graduate degree OR 2 full years of progressively higher level graduate education leading to a master’s degree or equivalent graduate degree</li>
        <li><b>GS-11 (or equivalent)</b>  - Ph.D. or equivalent doctoral degree OR 3 full years of progressively higher level graduate education leading to a Ph.D. or equivalent doctoral degree</li>
      </ul>
      All OPM Qualification Standards that include positive education require the education be obtained from an accredited program. All academic degrees and coursework must be from accredited institutions. The following degrees would be required for certain cybersecurity programs that support privacy work:
      <ul>
        <li>Computer Science</li>
        <li>Engineering</li>
        <li>Information Science</li>
        <li>Information Systems Management</li>
        <li>Mathematics</li>
        <li>Operations Research</li>
        <li>Statistics</li>
        <li>Technology Management</li>
      </ul><br>
      To meet this requirement, a candidate also could have another degree, as long as that degree provided a minimum of 24 semester hours in one or more of the above fields and required the development or adaption of applications, systems or networks. This could include the following:
      <ul>
         <li>Cybersecurity</li>
         <li>Identity Management and Security</li>
         <li>Informatics</li>
         <li>Information Assurance</li>
      </ul><br>
      It would be desirable for candidates with such degrees to have some coursework in privacy. For example, a candidate with an Engineering degree may have taken courses that focus on embedding privacy-enhancing technologies into IT architecture and systems.
      See <a href="https://www.opm.gov/policy-data-oversight/classification-qualifications/general-schedule-qualification-standards/0300/gs-2210-information-technology-management-series/">here</a> for more information.
    </div>
  </li>
  <li>
    <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-b3">
      More About Attorney (0905 Series)
    </button>
    <div id="b-b3" class="usa-accordion-content">
      Attorney positions are generally in the excepted service and agencies have the authority to establish qualification requirements for their attorney positions. There is no OPM qualification standard for positions in the Attorney, 0905 series, as OPM is prohibited by law from examining for attorney positions or establishing qualification requirements for them. Therefore agencies may determine based on a job analysis the requirements for their positions, e.g., law degree, J.D. or equivalent, and must be a member in good standing of a state bar, licensed to practice law. Many major law schools in the U.S. now offer a focus in privacy law, which would be desirable for these positions.
      <br><br>

      Certain undergraduate degrees are also helpful for privacy work.
      <h6>Privacy Counsel (0905)</h6>
      <ul>
      <li>Political Science/Law</li>
      <li>Public Policy (general or applied to a particular field such as health)</li>
      <li>History</li>
      <li>English</li>
      <li>Philosophy</li>
      <li>Economics</li>
      <li>International Relations, for agencies handling PII from outside the United States</li>
      <li>Law (general or applied to a particular field such as Constitutional Law, Privacy Law, Civil Right and Anti-discrimination Law, Health Law, Consumer Protection, Business and Financial Regulation, Administrative Law and Government Regulation)</li>
      </ul>
    </div>
  </li>
 </ul>
</div>

<div id="students" class="tabcontent">
  <h2>Are you a current student or recent graduate?</h2>
      Various programs can help, including Pathways, President Management Fellows (PMF), Scholarships for Service, and Fellowships.
      <br><br>
  <ul class="usa-accordion-bordered">
  <li>
    <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-c1">
      Internship Program
    </button>
    <div id="b-c1" class="usa-accordion-content">
      <b>What it Provides:</b><br>
      The <a href="https://www.opm.gov/policy-data-oversight/hiring-information/students-recent-graduates/#url=Reference-Materials">Internship Program</a> is designed to provide students enrolled in a wide variety of educational institutions, from high school to graduate level, with opportunities to work in agencies and explore Federal careers while still in school and while getting paid for the work performed. Students who successfully complete the program may be eligible for conversion to a permanent job in the civil service.
      <br><br>

      <b>Who is Eligible:</b><br>
      Current students enrolled or accepted for enrollment at least half-time in an accredited high school, college (including 4-year colleges/universities, community colleges, and junior colleges); professional, technical, vocational, and trade school; advanced degree programs; or other qualifying educational institution pursuing a qualifying degree or certificate.

    </div>
  </li>
  <li>
    <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-c2">
      Recent Graduates
    </button>
    <div id="b-c2" class="usa-accordion-content">
      <b>What it Provides:</b><br>
      The <a href="https://www.usajobs.gov/StudentsAndGrads">Recent Graduates Program </a>affords developmental experiences in the Federal Government intended to promote possible careers in the civil service to individuals who have recently graduated from qualifying educational institutions or programs. To be eligible, applicants must apply within two years of degree or certificate completion (except for veterans precluded from doing so due to their military service obligation, who have up to six years after degree completion to apply). Successful applicants are placed in a dynamic, developmental program with the potential to lead to a civil service career in the Federal Government. The program lasts for 1 year (unless the training requirements of the position warrant a longer and more structured training program).
      <br><br>
      <b>Who is Eligible:</b><br>
      Graduates of qualifying educational institutions with an associates, bachelors, masters, professional, doctorate, vocational or technical degree or certificate. Individuals must apply within 2 years of degree or certificate completion, except for veterans precluded from doing so due to their military service obligation, who have up to 6 years after degree or certificate completion to apply.

    </div>
  </li>
  <li>
    <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-c3">
      Pathways
    </button>
    <div id="b-c3" class="usa-accordion-content">
      For positions in cybersecurity as it relates to privacy, <a href="https://www.usajobs.gov/StudentsAndGrads">Pathways</a> is a way to increase and strengthen the cadre of federal information assurance professionals that protect the government’s critical information infrastructure.
    </div>
  </li>
  <li>
    <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-c4">
      PMF Program
    </button>
    <div id="b-c4" class="usa-accordion-content">
      <b>What it Provides:</b><br>
      The <a href="https://www.pmf.gov/">Presidential Management Fellows (PMF)</a> Program is a flagship leadership development program at the entry-level for advanced degree candidates. Created more than three decades ago, the program attracts and selects from among the best candidates and is designed to develop a cadre of potential Federal Government leaders.
      <br><br>
      <b>Who is Eligible:</b><br>
      Individuals who have completed a qualifying advanced degree (e.g., master’s degree, professional degree) within the past 2 years; or individuals who expect to complete requirements by August 31 of the academic year in which the PMF competition is held.
      <br><br>
      The Federal Privacy Council is working in partnership with OPM’s PMF Program Office to establish a privacy discipline. Federal agencies will be able to select interested applicants from the PMF Program’s Finalists’ pool, and these eligible Finalists will be able to gain valuable experience working on the complex challenges facing the Federal Government privacy community.
    </div>
  </li>
  <li>
    <button class="usa-accordion-button" aria-expanded="false" aria-controls="b-c5">
      Cybercorp Scholarships for Service (SFS) Program
    </button>
    <div id="b-c5" class="usa-accordion-content">
      The <a href="https://www.sfs.opm.gov/">CyberCorps Scholarships For Service (SFS)</a> Program is managed by NSF in collaboration with OPM and DHS.
      <br><br>
      <b>What it Provides:<b><br>
      Scholarships that may fully fund the typical costs incurred by full-time students while attending a participating institution, including tuition and education and related fees. Additionally, participants receive stipends of $22,500 for undergraduate students and $34,000 for graduate students. The scholarships are funded through grants awarded by the National Science Foundation. Students who complete their obligation may be eligible for permanent placement.
      <br><br>
      <b>Who is Eligible:<b><br>
      Full-time student within two years of graduation with a bachelor’s or master’s degree ; a student within three years of graduation with both the bachelor’s and the master’s degree; a student participating in a combined bachelor’s and master’s degree (“five year”) program; or a research-based doctoral student within three years of graduation in a coherent formal academic program that is focused on cybersecurity or information assurance at an awardee institution — be a United States citizen; — meet criteria for Federal employment; and — be able to obtain a security clearance, if required.
    </div>
  </li>
  </ul>
</div>

<!-- script -->
<script>
function openTab(evt, Title) {
    //variables
    var i, tabcontent, tablinks;

    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>
