<div class="usa-grid">
	<div class="usa-width-one-whole">
The membership of the Federal Privacy Council includes the Senior Advisor for Privacy at the Office of Management and Budget, who serves as the Chair, and the Senior Agency Officials for Privacy (SAOP) at each agency described in <a href="https://www.gpo.gov/fdsys/pkg/FR-2016-02-12/pdf/2016-03141.pdf">Executive Order 13719</a>, as well other officials from agencies and offices, who are designated by the the Chair.<br><br>
<h2>Leadership & Executive Committee</h2><BR>

	<div class="usa-width-one-half">

   <img src="{{ site.baseurl }}/assets/img/bio.moncada.kirsten.png" alt="Kirsten Moncada" />
		  <BR>
	  <font class="person_font" style="color: #3086CC;">
		  Kirsten Moncada</FONT><BR>
		 <font class="agency_font"> Office of Information and Regulatory Affairs</FONT>
	</div>
	<div class="usa-width-one-half">
  <img class="size-full
	   wp-image-30353 aligncenter" src="{{ site.baseurl }}/assets/img/bio.chung.joo.png"
alt="Official Head Shot of Joo Chung, DoD"/><BR>

	  <font class="person_font" style="color: #3086CC;">Joo Chung</font><BR>
	 <font class="agency_font"> Department of Defense</font>
 </div>
 </div>
</div>
<br><br>

 <div class="usa-grid">
	 <div class="usa-width-one-third">
		<img class="size-full
		 aligncenter" src="{{ site.baseurl }}/assets/img/dhs-logo.png"
alt="Sam Kaplan"/><BR>
	 <font class="person_font" style="color: #3086CC;">Sam Kaplan</font><BR>
<font class="agency_font">Department of Homeland Security</font>
	 </div>

	 <div class="usa-width-one-third">
   <img class="size-full wp-image-30379 aligncenter"
src="{{ site.baseurl }}/assets/img/ftc-logo.png" alt=" John Krebs" />
	  <BR>
	  <font class="person_font" style="color: #3086CC;">John Krebs</font><BR>
				<font class="agency_font">Federal Trade Commission</font>
	</div>

	<div class="usa-width-one-third">
   	<img class="size-full wp-image-30379 aligncenter"
src="{{ site.baseurl }}/assets/img/bio.richards.rebecca.png" alt="Rebecca Richards" /></a>
		<BR>
	  <font class="person_font" style="color: #3086CC;">Rebecca Richards</font><BR>
			<font class="agency_font">National Security Agency</font>
	</div>
</div>
<br>
<div class="usa-grid">
		<div class="usa-width-one-third">
    <img class="size-full
	    aligncenter" src="{{ site.baseurl }}/assets/img/bio.riley.kellie.png"
alt="Kellie Riley"/></a>
	  <BR>

	  <font class="person_font" style="color: #3086CC;">Kellie Cosgrove Riley</font><BR>
				<font class="agency_font">Office of Personnel Management</font>

		</div>
		<div class="usa-width-one-third">
		<img class="size-full
			aligncenter" src="{{ site.baseurl }}/assets/img/cfpb-logo.png"
		alt="Clair Stapleton"/></a>
		<BR>

		<font class="person_font" style="color: #3086CC;">Claire Stapleton</font><BR>
				<font class="agency_font">Consumer Finance Protection Bureau</font>
		</div>
	<div class="usa-width-one-third">
	</div>
</div>
<br><br>
<h2>Council Members</h2>

<div class="usa-grid">
	<div class="usa-width-one-third">
	<img class="size-full wp-image-30379 aligncenter"
src="{{ site.baseurl }}/assets/img/bio.agarwal.asheesh.png" alt="Asheesh Agarwal" /><BR>
	  <font class="person_font" style="color: #3086CC;">Asheesh Agarwal</font><BR>
		<font class="agency_font">Social Security Administration</font>
	</div>

		<div class="usa-width-one-third">
				<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/bio.transportation.png" alt="Claire Barrett"/><BR>
				<font class="person_font" style="color: #3086CC;">Claire Barrett</font><BR>
				<font class="agency_font">Department of Transportation</font>
		 </div>

		 <div class="usa-width-one-third">
 			<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/hud-logo.png" alt="John Bravacos"/><BR>
 			<font class="person_font" style="color: #3086CC;">John Bravacos</font><BR>
 			<font class="agency_font">Department of Housing and Urban Development</font>
 	  </div>
</div>
<br>
<div class="usa-grid">
	<div class="usa-width-one-third">
		<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/usaid-logo.png" alt="Albert Bullock"/><BR>
		<font class="person_font" style="color: #3086CC;">Albert Bullock</font><BR>
		<font class="agency_font">United States Agency for International Development</font>
	</div>

	<div class="usa-width-one-third">
 		<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/bio.burns.sylvia.png" alt="Sylvia Burns"/></a>
 			<BR>
 			<font class="person_font" style="color: #3086CC;">Sylvia Burns</font><BR>
 			<font class="agency_font">Department of the Interior</font>
 	</div>

	<div class="usa-width-one-third">
		<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/bio.huebner.ben.png" alt="Ben Huebner"/><BR>
		<font class="person_font" style="color: #3086CC;">Ben Huebner</font><BR>
		<font class="agency_font">Central Intelligence Agency</font>
	</div>
</div>
<br>
<div class="usa-grid">
	<div class="usa-width-one-third">
		<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/bio.everett.max.png" alt="Max Everett"/><BR>
		<font class="person_font" style="color: #3086CC;">Max Everett</font><BR>
		<font class="agency_font">Department of Energy</font>
	</div>

	<div class="usa-width-one-third">
		<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/bio.joel.alexander.png" alt="Alexander Joel"/><BR>
		<font class="person_font" style="color: #3086CC;">Alexander Joel</font><BR>
		<font class="agency_font">Office of the Director of National Intelligence</font>
	</div>

	<div class="usa-width-one-third">
		<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/bio.kinsley.kody.png" alt="Kody Kinsley"/><BR>
		<font class="person_font" style="color: #3086CC;">Kody Kinsley</font><BR>
		<font class="agency_font">Department of Treasury</font>
	</div>
</div>
<br>
<div class="usa-grid">
	<div class="usa-width-one-third">
		<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/usda-logo.png" alt="Don Bice"/><BR>
		<font class="person_font" style="color: #3086CC;">Don Bice</font><BR>
		<font class="agency_font">United States Department of Agriculture</font>
	</div>
	<div class="usa-width-one-third">
		<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/bio.lefkovitz.naomi.png" alt="Naomi Lefkovitz"/><BR>
		<font class="person_font" style="color: #3086CC;">Naomi Lefkovitz</font><BR>
		<font class="agency_font">National Institute of Standards and Technology</font>
	</div>
	<div class="usa-width-one-third">
		<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/state-logo.png" alt="Johnathan Newton"/><BR>
		<font class="person_font" style="color: #3086CC;">Johnathan Newton</font><BR>
		<font class="agency_font">Department of State</font>
	</div>
</div>
<br>
<div class="usa-grid">
	<div class="usa-width-one-third">
		<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/bio.noga.vaughn.png" alt="Vaughn Noga"/><BR>
		<font class="person_font" style="color: #3086CC;">Vaughn Noga</font><BR>
		<font class="agency_font">Environmental Protection Agency</font>
	</div>
	<div class="usa-width-one-third">
		<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/fbi-logo.png" alt="Erin Prest"/><BR>
		<font class="person_font" style="color: #3086CC;">Erin Prest</font><BR>
		<font class="agency_font">Federal Bureau of Investigation</font>
	</div>
	<div class="usa-width-one-third">
		<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/bio.purvis.catrina.png" alt="Catrina Purvis"/><BR>
		<font class="person_font" style="color: #3086CC;">Catrina Purvis</font><BR>
		<font class="agency_font">Department of Commerce</font>
	</div>
</div>
<br>
<div class="usa-grid">
	<div class="usa-width-one-third">
		<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/bio.roat.maria.png" alt="Maria Roat"/><BR>
		<font class="person_font" style="color: #3086CC;">Maria Roat</font><BR>
		<font class="agency_font">Small Business Association</font>
	</div>

	<div class="usa-width-one-third">
		<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/gsa-logo.png" alt="Richard Speidel"/><BR>
		<font class="person_font" style="color: #3086CC;">Richard Speidel</font><BR>
		<font class="agency_font">General Services Administration</font>
	</div>
	<div class="usa-width-one-third">
		<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/bio.stern.gary.png" alt="Gary Stern"/><BR>
		<font class="person_font" style="color: #3086CC;">Gary M. Stern</font><BR>
		<font class="agency_font">National Archives and Records Administration</font>
	</div>
</div>
<br>
<div class="usa-grid">
	<div class="usa-width-one-third">
		<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/bio.winn.peter.png" alt="Peter Winn"/><BR>
		<font class="person_font" style="color: #3086CC;">Peter Winn</font><BR>
		<font class="agency_font">Department of Justice</font>
	</div>

	<div class="usa-width-one-third">
		<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/bio.wynn.renee.png" alt="Renee Wynn"/><BR>
		<font class="person_font" style="color: #3086CC;">Renee Wynn</font><BR>
		<font class="agency_font">National Aeronutics and Space Administration</font>
	</div>
	<div class="usa-width-one-third">
		<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/labor-logo.png" alt="Logo of the Deparement of Labor"/><BR>
		<font class="person_font" style="color: #3086CC;">Vacant</font><BR>
		<font class="agency_font">Department of Labor</font>
	</div>
</div>
<br>
<div class="usa-grid">
	<div class="usa-width-one-third">
		<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/education-logo.png" alt="Logo of the Deparement of Education"/><BR>
		<font class="person_font" style="color: #3086CC;">Vacant</font><BR>
		<font class="agency_font">Department of Education</font>
	</div>
	<div class="usa-width-one-third">
		<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/hhs-logo.png" alt="Logo of the Deparement of Health and Human Services"/><BR>
		<font class="person_font" style="color: #3086CC;">Vacant</font><BR>
		<font class="agency_font">Department of Health and Human Services</font>
	</div>

	<div class="usa-width-one-third">
		<img class="size-full aligncenter" src="{{ site.baseurl }}/assets/img/va-logo.png" alt="Logo of the Deparement of Labor"/><BR>
		<font class="person_font" style="color: #3086CC;">Vacant</font><BR>
		<font class="agency_font">Department of Veterans Affairs</font>
	</div>
</div>
