<div id="textblock_735276">
test test - The membership of the Federal Privacy Council includes the Senior Advisor for Privacy at the Office of Management and Budget, who serves as the Chair, and the Senior Agency Officials for Privacy (SAOP) at each agency described in <a href="https://www.gpo.gov/fdsys/pkg/FR-2016-02-12/pdf/2016-03141.pdf">Executive Order 13719</a>, as well other officials from agencies and offices, who are designated by the the Chair.</p>
</div>


<span class="sub_section_header">Leadership & Executive Committee</span><BR>
  
<div class="tbtable">
  <div class="tbcell left">
   <a href="../../bio-moncada-kirsten/"><img class="size-full wp-image-30379 aligncenter" 
src="../../assets/img/bio.moncada.kirsten.png" alt="Kirsten Moncada" /></a>
  </div>
  <div class="tbcell right">
   <a href="../../bio-chung-joo/"><img class="size-full 
	   wp-image-30353 aligncenter" src="../../assets/img/bio.chung.joo.png" 
alt="Official Head Shot of Joo Chung, DoD"/></a>
	 </div>
	<div class="tbcell right">
  
		<img class="size-full 
	   wp-image-30353 aligncenter" src="../../assets/img/bio.white.white.png" 
alt="blank white square"/>
		
	 </div>
  </div>




<div class="tbtable">
  <div class="tbcell left">
   <a href="../../bio-brin-katie/"><img class="size-full wp-image-30379 aligncenter" 
src="../../assets/img/bio.brin.katie.png" alt="Katie Brin" /></a>
  </div>
  <div class="tbcell right">
   <a href="../../bio-cantor-jonathon/"><img class="size-full 
	    aligncenter" src="../../assets/img/bio.cantor.jonathon.png" 
alt="Jonathon Cantor"/></a>
	 </div>
	<div class="tbcell right">
	   <a href="../../bio-foster-helen/"><img class="size-full 
	    aligncenter" src="../../assets/img/bio.foster.helen.png" 
alt="Helen Foster"/></a>	 
	</div>
  </div>




<div class="tbtable">
  <div class="tbcell left">
   <a href="../../bio-richards-rebecca/"><img class="size-full wp-image-30379 aligncenter" 
src="../../assets/img/bio.richards.rebecca.png" alt="Rebecca Richards" /></a>
  </div>
  <div class="tbcell right">
   <a href="../../bio-riley-kellie/"><img class="size-full 
	    aligncenter" src="../../assets/img/bio.riley.kellie.png" 
alt="Kellie Riley"/></a>
	 </div>
	<div class="tbcell right">
	   <a href="../../bio-winn-peter/"><img class="size-full 
	    aligncenter" src="../../assets/img/bio.winn.peter.png" 
alt="Peter Winn"/></a>	 
	</div>
  </div>



<BR><BR>

<span class="sub_section_header">Council Members</span><BR>


<div class="tbtable">
  <div class="tbcell left">
   <a href="../../bio-agarwal-asheesh/"><img class="size-full wp-image-30379 aligncenter" 
src="../../assets/img/bio.agarwal.asheesh.png" alt="Asheesh Agarwal" /></a>
  </div>
  <div class="tbcell right">
   <a href="../../bio-burns-sylvia/"><img class="size-full 
	    aligncenter" src="../../assets/img/bio.burns.sylvia.png" 
alt="Syliva Burns"/></a>
	 </div>
	<div class="tbcell right">
	   <a href="../../bio-fine-steven/"><img class="size-full 
	    aligncenter" src="../../assets/img/bio.fine.steven.png" 
alt="Steven Fine"/></a>	 
	</div>
  </div>

	
	
	
<div class="tbtable">
  <div class="tbcell left">
   <a href="../../bio-green-robbie/"><img class="size-full wp-image-30379 aligncenter" 
src="../../assets/img/bio.green.robbie.png" alt="Robbie Green" /></a>
  </div>
  <div class="tbcell right">
   <a href="../../bio-grewal-steve/"><img class="size-full 
	    aligncenter" src="../../assets/img/bio.grewal.steve.png" 
alt="Steve Grewal"/></a>
	 </div>
	<div class="tbcell right">
	   <a href="../../bio-huebner-ben/"><img class="size-full 
	    aligncenter" src="../../assets/img/bio.huebner.ben.png" 
alt="Ben Huebner"/></a>	 
	</div>
  </div>

	
	
	
	
	
<div class="tbtable">
  <div class="tbcell left">
   <a href="../../bio-hugler-ed/"><img class="size-full wp-image-30379 aligncenter" 
src="../../assets/img/bio.hugler.ed.png" alt="Ed Hugler" /></a>
  </div>
  <div class="tbcell right">
   <a href="../../bio-joel-alexander/"><img class="size-full 
	    aligncenter" src="../../assets/img/bio.joel.alexander.png" 
alt="Alexander Joel"/></a>
	 </div>
	<div class="tbcell right">
	   <a href="../../bio-killorian-beth/"><img class="size-full 
	    aligncenter" src="../../assets/img/bio.killorian.beth.png" 
alt="Beth Killorian"/></a>	 
	</div>
  </div>

	
	
	
	
<div class="tbtable">
  <div class="tbcell left">
   <a href="../../bio-kinsley-kody/"><img class="size-full wp-image-30379 aligncenter" 
src="../../assets/img/bio.kinsley.kody.png" alt="Kody Kinsley" /></a>
  </div>
  <div class="tbcell right">
   <a href="../../bio-lefkovitz-naomi/"><img class="size-full 
	    aligncenter" src="../../assets/img/bio.lefkovitz.naomi.png" 
alt="lefkovitz, naomi"/></a>
	 </div>
	<div class="tbcell right">
	   <img class="size-full 
	    aligncenter" src="../../assets/img/bio.transportation.png" 
alt="Dept of Transportation"/></a>	 
	</div>
  </div>

	
	

	
<div class="tbtable">
  <div class="tbcell left">
   <a href="../../bio-palmer-larry/"><img class="size-full wp-image-30379 aligncenter" 
src="../../assets/img/bio.palmer.larry.png" alt="palmer, larry" /></a>
  </div>
  <div class="tbcell right">
   <a href="../../bio-purvis-catrina/"><img class="size-full 
	    aligncenter" src="../../assets/img/bio.purvis.catrina.png" 
alt="purvis, catrina"/></a>
	 </div>
	<div class="tbcell right">
	   <a href="../../bio-roat-maria/"><img class="size-full 
	    aligncenter" src="../../assets/img/bio.roat.maria.png" 
alt="Maria Roat"/></a>	 
	</div>
  </div>
	
	
	
	
<div class="tbtable">
  <div class="tbcell left">
   <a href="../../bio-shorter-malcom/"><img class="size-full wp-image-30379 aligncenter" 
src="../../assets/img/bio.shorter.malcom.png" alt="shorter, malcom" /></a>
  </div>
  <div class="tbcell right">
   <a href="../../bio-stern-gary/"><img class="size-full 
	    aligncenter" src="../../assets/img/bio.stern.gary.png" 
alt="stern, gary"/></a>
	 </div>
	<div class="tbcell right">
	   <a href="../../bio-styles-kathleen/"><img class="size-full 
	    aligncenter" src="../../assets/img/bio.styles.kathleen.png" 
alt="styles, kathleen"/></a>	 
	</div>
  </div>
	
	
	
	
	
<div class="tbtable">
  <div class="tbcell left">
   <a href="../../bio-thomas-rob/"><img class="size-full wp-image-30379 aligncenter" 
src="../../assets/img/bio.thomas.rob.png" alt="thomas, rob" /></a>
  </div>
  <div class="tbcell right">
   <a href="../../bio-white-clinton/"><img class="size-full 
	    aligncenter" src="../../assets/img/bio.white.clinton.png" 
alt="white, clinton"/></a>
	 </div>
	<div class="tbcell right">
	   <a href="../../bio-wynn-renee/"><img class="size-full 
	    aligncenter" src="../../assets/img/bio.wynn.renee.png" 
alt="wynn, renee"/></a>	 
	</div>
  </div>
	
	


