
<A HREF="/9th-meeting-of-the-privacy-council/"><img src="/assets/img/9th.meeting.png" alt="9th Annual Meeting of the Privacy Council"></A>
<DIV style="margin: auto; width: 70%;">
<CENTER>
  <A NAME="FederalPrivacyCouncil"></A>
  <TABLE style="border-style: hidden;">

<TR>
<TD VALIGN=TOP WIDTH="50%"  style="border-style: hidden;">
  <div class="section_header">Purpose</div><br>


<DIV style="font-size:18px;">Build on Existing Interagency Efforts to Protect Privacy</DIV><BR>

<div style="font-size:16px;">The Federal Privacy Council is the principal interagency forum to improve the privacy practices of agencies and 
entities acting on their behalf. The work of the Federal Privacy Council shall strengthen protections of people’s personal 
information and privacy rights across the Federal Government. To achieve this purpose, the Federal Privacy Council shall: 
support interagency efforts to protect privacy and provide expertise and assistance to agencies; expand the skill and career 
development opportunities of agency privacy professionals; improve the management of agency privacy programs by identifying 
and sharing lessons learned and best practices; and promote collaboration between and among agency privacy professionals to
reduce unnecessary duplication of efforts and to ensure the effective, efficient, and consistent implementation of privacy 
  policy government-wide.</div>
<BR><BR>
  <LI><A HREF="https://www.gpo.gov/fdsys/pkg/FR-2016-02-12/pdf/2016-03141.pdf">Executive Order</A></LI>
  
</TD>

<TD VALIGN=TOP  WIDTH="50%"  style="border-style: hidden;">

<div  class="section_header">Vision</div><br>

<DIV style="font-size:18px;">Ensure that Privacy Practices and Privacy Programs Evolve
  to Help Promote and Maintain our Nation’s Core Values</DIV><BR>

<div style="font-size:16px;">The Federal Privacy Council will help to ensure that as Federal agencies carry out the diverse missions of the Federal 
Government, they do so in a manner that honors and respects the personal information entrusted to the Federal Government
by the American people and other individuals. Today, the United States is in the midst of a revolution of innovation and
opportunity based on the explosive growth of the digital economy and the wide-scale adoption of new technology.  To keep 
pace with this change, the Federal Privacy Council will identify more effective and innovative ways to help protect privacy 
across the Government while supporting efforts to deliver better and more efficient services for the American people.</DIV>
<BR><BR>
  <LI><A HREF="./council-members/">Council Members</A></LI>
  
</TD>

</TR>


</TABLE>
  
  </DIV>
  
  <p></p>  <p></p>  <p></p>
  

