
<p></p>
<p></p>
<p></p>
<BR><BR><BR><BR>
<A NAME="objectives"></A>

<div style="margin: auto; width: 70%;">
<div class="section_header" style="color:#FFFFFF;">Objectives</div>

     <font style="color:#FFFFFF;">The Federal Privacy Council shall perform functions that include the following</FONT>

     <p></p>
<TABLE style="border-style: hidden; background-color: #FF522D;">
<TR>

<TD style="border-style: hidden; background-color: #FF522D;" valign=top width="50%">
<font class="sub_section_header" style="color: #FFFFFF;">Develop Recommendations</font><BR>
<font style="color:#FFFFFF;">for the Office of Management and Budget (OMB) on Federal Government privacy policies and requirements
</font>

</TD>
<TD  style="border-style: hidden; background-color: #FF522D;"  valign=top  width="50%">
<font class="sub_section_header" style="color: #FFFFFF;">
Inform government-wide priorities</font><BR>
<font style="color:#FFFFFF;">
on privacy policy and monitor their implementation
</font>

</TD>

</TR>

<TR style="background-color: #FF522D;">

<TD style="border-style: hidden;background-color: #FF522D;" valign=top>
<font class="sub_section_header" style="color: #FFFFFF;">
Share lessons learned</font><BR>
<font style="color:#FFFFFF;">
ideas, best practices, and innovative approaches related to privacy and the responsible management of PII
</font>


</TD>
<TD  style="border-style: hidden;background-color: #FF522D;"  valign=top>
<font class="sub_section_header" style="color: #FFFFFF;">
Assist OMB</font><BR>
<font style="color:#FFFFFF;">
in the identification, development, and coordination of multi-agency projects and other innovative initiatives to improve how the Federal Government manages privacy risks while embracing new technologies
</font>

</TD>

</TR>


<TR>

<TD style="border-style: hidden;background-color: #FF522D;" valign=top>
<font class="sub_section_header" style="color: #FFFFFF;">
Promote collaboration</font><BR>
<font style="color:#FFFFFF;">
and community building among Senior Agency Officials for Privacy (SAOPs) and other privacy professionals for purposes of sharing best practices, transferring knowledge, and developing a unified approach for addressing Federal privacy challenges
practices, and innovative approaches related to privacy and the responsible management of PII
</font>

</TD>
<TD  style="border-style: hidden;background-color: #FF522D;"  valign=top>
<font class="sub_section_header" style="color: #FFFFFF;">
Promote the development</font><BR>
<font style="color:#FFFFFF;">
and use by agencies of common performance measures to help evaluate the effectiveness of privacy programs
</font>

</TD>

</TR>

<TR>

<TD style="border-style: hidden;background-color: #FF522D;" valign=top>
<font class="sub_section_header" style="color: #FFFFFF;">
Partner with NIST</font><BR>
<font style="color:#FFFFFF;">
as appropriate, to develop recommendations  on privacy standards and guidelines
</font>


</TD>
<TD  style="border-style: hidden;background-color: #FF522D;"  valign=top>
<font class="sub_section_header" style="color: #FFFFFF;">
Work with OPM</font><BR>
<font style="color:#FFFFFF;">
to assess and address the hiring, training, classification, and professional development needs of Federal employees in areas related to privacy
</font>

</TD>

</TR>



<TR>

<TD style="border-style: hidden;background-color: #FF522D;" valign=top>
<font class="sub_section_header" style="color: #FFFFFF;">
Work with the Archivist of the United States</font><BR>
<font style="color:#FFFFFF;">
to assess how the Federal Records Act can be addressed effectively by Federal privacy initiatives and activities
</font>

</TD>
<TD  style="border-style: hidden;background-color: #FF522D;"  valign=top>
<font class="sub_section_header" style="color: #FFFFFF;">Solicit perspectives</font><BR>
<font style="color:#FFFFFF;">
from the Federal Chief Information Officer Council, Chief Financial Officers Council, Chief Acquisition Officers Council, Chief Human Capital Officers Council, Budget Officers Advisory Council, and other key groups in the Federal Government, as well as industry, academia, and other Federal, tribal, and state and local governments, on matters of concern to the Council as appropriate
</font>

</TD>

</TR>


</TABLE>
     
     
     </DIV>
     <p></p>     
     <p></p>
     <p></p>
     <BR><BR><BR><BR><BR><BR>
