
<A NAME="objectives"></A>



<div class="section_header" style="color:#FFFFFF;">Objectives</div>
The Federal Privacy Council shall perform functions that include the following
<p></p>
<TABLE style="border-style: hidden; background-color: #FF522D;">
<TR>

<TD style="border-style: hidden; background-color: #FF522D;" valign=top>
<font class="sub_section_header" style="color: #FFFFFF;">Develop Recommendations</font><BR>
<font style="color:#FFFFFF;"></font>

</TD>
<TD  style="border-style: hidden; background-color: #FF522D;"  valign=top>
<font class="sub_section_header" style="color: #FFFFFF;">
Inform government-wide priorities</font><BR>
<font style="color:#FFFFFF;"></font>

</TD>

</TR>

<TR style="background-color: #FF522D;">

<TD style="border-style: hidden;" valign=top>
<font class="sub_section_header" style="color: #FFFFFF;">
Share lessons learned</font><BR>
<font style="color:#FFFFFF;"></font>


</TD>
<TD  style="border-style: hidden;"  valign=top>
<font class="sub_section_header" style="color: #FFFFFF;">
Assist OMB</font><BR>
<font style="color:#FFFFFF;"></font>

</TD>

</TR>


<TR>

<TD style="border-style: hidden;" valign=top>
<font class="sub_section_header" style="color: #FFFFFF;">
Promote collaboration</font><BR>
<font style="color:#FFFFFF;"></font>

</TD>
<TD  style="border-style: hidden;"  valign=top>
<font class="sub_section_header" style="color: #FFFFFF;">
Promote the development</font><BR>
<font style="color:#FFFFFF;"></font>

</TD>

</TR>

<TR>

<TD style="border-style: hidden;" valign=top>
<font class="sub_section_header" style="color: #FFFFFF;">
Partner with NIST</font><BR>
<font style="color:#FFFFFF;"></font>


</TD>
<TD  style="border-style: hidden;"  valign=top>
<font class="sub_section_header" style="color: #FFFFFF;">
Work with OPM</font><BR>
<font style="color:#FFFFFF;"></font>

</TD>

</TR>



<TR>

<TD style="border-style: hidden;" valign=top>
<font class="sub_section_header" style="color: #FFFFFF;">
Work with the Archivist of the United States</font><BR>
<font style="color:#FFFFFF;"></font>

</TD>
<TD  style="border-style: hidden;"  valign=top>
<font class="sub_section_header" style="color: #FFFFFF;">Solicit perspectives</font><BR>
<font style="color:#FFFFFF;"></font>

</TD>

</TR>


</TABLE>
     
