<footer class="usa-footer usa-footer-medium" role="contentinfo">
  {% if site.footer.links %}
  <div class="usa-footer-primary-section">
    <div class="usa-grid-full">
      <nav class="usa-footer-nav">
        <ul class="usa-unstyled-list">
        {% for link in site.footer.links %}
          <li class="usa-width-one-sixth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="{{ link.href }}">{{ link.text }}</a> 1st
          </li>
        {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
  {% endif %}
  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      
        <FORM class="search-form" id="search_form" role="search" action="https://search.usa.gov/search" 
method="get" 
accept-charset="UTF-8">
      
      <div class="usa-footer-logo usa-width-one-half">
        {% if site.footer.image %}
          <img class="usa-footer-logo-img" src="{{ site.footer.image | prepend: site.baseurl }}" alt="Logo image">
        {% endif %}
        {% if site.footer.text %}
          <p>{{ site.footer.text }} <a href="https://github.com/{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/{{ page.path }}" target="_blank">Suggest an edit</a>.</p>
        {% endif %}
        <LABEL><INPUT name="utf8" type="hidden" value="✓">        
         <INPUT name="affiliate" id="affiliate" type="hidden" value="ciomain">   
              <INPUT name="query" class="usagov-search-autocomplete search-field" id="query" type="search" placeholder="Search …" value="" autocomplete="off"> 
                <INPUT class="search-submit" type="submit" value="Search">       
      </LABEL>         
        
        
      </div>
           </form>
           
      <div class="usa-footer-contact-links usa-width-one-half">
          <a class="usa-link-twitter" href="https://twitter.com/ciodotgov"><span>Twitter</span></a>
          {% if site.footer.contact.facebook %}
          <a class="usa-link-facebook" href="https://facebook.com/{{ facebook }}"><span>Facebook</span></a>
          {% endif %}
          {% if site.footer.contact.youtube %}
          <a class="usa-link-youtube" href="https://youtube.com/{{ youtube }}"><span>YouTube</span></a>
          {% endif %}
        
          <a class="usa-link-rss" href="{{ site.baseurl }}/data/cio.rss"><span>RSS feed</span></a>
        
        <address>
          {% if site.footer.contact.name %}
            <h3 class="usa-footer-contact-heading">{{ site.footer.contact.name }}</h3>
          {% endif %}
          {% if site.footer.contact.phonenumber %}
            <p><a href="tel:{{ site.footer.contact.phonenumber }}">{{ site.footer.contact.phonenumber }}</a></p>
          {% endif %}
          <p><a href="mailto:{{ site.footer.contact.email }}">{{ site.footer.contact.email }}</a></p>
        </address>

      </div>
    </div>
  </div>
</footer>
