<style>
 .ftlink{
        color: #212121;      
        }
</style>
<footer class="usa-footer usa-footer-medium" role="contentinfo">
        <div class="usa-footer-primary-section">
            <div class="usa-grid">
                <nav class="usa-footer-nav">
                    <ul class="usa-unstyled-list">
                        <li class="usa-width-one-sixth usa-footer-primary-content">
                            <a class="usa-footer-primary-link" href="javascript:void(0);">About</a><br>
                                <a href="./federal-privacy-council/" class="ftlink">Federal Privacy Council</a><br>
                                <a href="/federal-privacy-council/council-members/" class="ftlink">Membership</a>
                        </li>
                        <li class="usa-width-one-fourth usa-footer-primary-content">
                            <a class="usa-footer-primary-link" href="./law-library/">Law Library</a>
                        </li>
                        <li class="usa-width-one-sixth usa-footer-primary-content">
                            <a class="usa-footer-primary-link" href="javascript:void(0);">Resources</a><br>
                                <a href="#">Federal Privacy Programs</a><br>
                            <a href="#">Office of Management and Budget (OMB)</a><br>
                            <a href="#">National Institute of Standards and Technology (NIST)</a><br>
                            <a href="#">Privacy and Civil Liberties Oversight Board (PCLOB)</a><br>
                            <a href="#">Beyond the Executive Branch</a><br>
                            <a href="#">Government-wide SORNs</a><br>
                            <a href="#">Glossary</a><br>
            
                        <li class="usa-width-one-fourth usa-footer-primary-content">
                            <a class="usa-footer-primary-link" href="./agencies/">Agencies</a>
                        </li>
                        <li class="usa-width-one-fourth usa-footer-primary-content">
                            <a class="usa-footer-primary-link" href="./careers/">Careers</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="usa-footer-secondary_section">
            <div class="usa-grid">
                <div class="usa-footer-logo usa-width-one-half">
                    <img class="usa-footer-logo-img" src="../../assets/img/logo-main.png" alt="">
                    <h3 class="usa-footer-logo-heading">Federal Privacy Council</h3>
                </div>
                <div class="usa-footer-contact-links usa-width-one-half">
                          <div class="usa-footer-primary-content usa-footer-contact_info">
                            <p><a href="/">info@fpc.gov</a></p>
                          </div>
                          <div class="usa-footer-primary-content usa-footer-contact_info">
                            <p><a href="/">Privacy Policy</a></p>
                          </div>
                         <div class="usa-footer-primary-content usa-footer-contact_info">
                            <p><a href="/">About This Website</a></p>
                          </div>
                         <div class="usa-footer-primary-content usa-footer-contact_info">
                            <p><a href="/">Disclaimer</a></p>
                          </div>
                </div>
            </div>
        </div>
