ABOUT

The information provided on this page is designed to help consumers file complaints and resolve common issues related to a wide range of privacy concerns involving the potential misuse of personal information.

This page is a compilation of online consumer complaint pages from various Federal government agencies.  In addition to these links, please note that agencies must provide appropriate agency contact information for individuals who wish to submit a privacy related question or complaint. The Federal Agencies page provides links to the privacy programs or other privacy-related resources for most Federal Government agencies.  Registering a complaint at the State level is typically done through that <A HREF="https://www.fpc.gov/organizations-focused-on-privacy-issues-in-the-states-tribal-governments-territories-and-commonwealths-in-the-united-states/">State’s Office of the Attorney General</A>.

The Federal Privacy Council does not collect or receive consumer complaints of any kind or help to resolve individual complaints.


  <!-- GENERAL COMPLAINTS ABOUT COMMERCIAL PRIVACY PRACTICES  -->

                                                              
 <ul class="usa-accordion-bordered" style="width:1300px;">

  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a1">
      General Complaints About Commercial Privacy Practices
    </button>
    <div id="b-a1" class="usa-accordion-content">
Concerned about how a company is handling your personal information? You can file complaints through the 
Federal Trade Commission’s <A HREF="https://www.ftccomplaintassistant.gov/#&panel1-1">Complaint Assistant</A> regarding alleged violations of privacy policies, potential harms resulting from data security breaches, questions about the use of information for certain commercial marketing activities, and other complaints concerning the ways in which private companies may allegedly misuse consumers’ information.                                                 
                                                
    </div>
  </li>
                                                    
<li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a2">
      Caller ID Blocking and Spoofing
    </button>
    <div id="b-a2" class="usa-accordion-content">
  
  The FCC's <A HREF="http://transition.fcc.gov/cgb/consumerfacts/callerid.pdf">caller ID</A> rules require telephone companies to provide, at no cost to you, the means to prevent your telephone number from being transmitted via caller ID to parties to whom you make interstate calls. FCC rules also require telemarketers to display on caller ID their phone numbers and, if possible, their names or the name of the company for which they are selling products. The display must include a phone number that you can call during regular business hours to ask that the company no longer call you. In addition, FCC rules prohibit any person or entity from transmitting misleading or inaccurate caller ID information with the intent to defraud, cause harm, or wrongly obtain anything of value. 

If you receive a call and you think the rules for protecting the privacy of your telephone number have been violated, or you suspect caller ID information has been falsified, you can <A HREF="https://consumercomplaints.fcc.gov/">file a complaint online</A> with the FCC.

               </div>
           
  </li>
                    
                                                 <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a3">
Credit Reports and Credit Reporting Companies
</button>
    <div id="b-a3" class="usa-accordion-content">
You can <A HREF="http://www.consumerfinance.gov/complaint/">submit a complaint</A> about problems with credit reporting companies. You may also submit a complaint to the Consumer Finance Protection Bureau about a company that reported information about you to a credit reporting company. 

</div>
                                                                                      
  </li>

  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a4">
      Do Not Call Registry Violations
    </button>
    <div id="b-a4" class="usa-accordion-content">
 
You may file a complaint with the <A HREF="https://complaints.donotcall.gov/complaint/complaintcheck.aspx">Do Not Call Registry</A> if you received an unwanted call after your number has been on the National Registry for 31 days. You may also file a complaint if you received a call that used a recorded message instead of a live person (whether or not your number was on the Registry).

You may also file complaints regarding violations of the Do Not Call list <A HREF="https://consumercomplaints.fcc.gov/">online with the FCC</A>.
              
    </div>
    
                                                                                      
      </li>
                                                </ul>                                                
                                                                         
                                                                         
          
  
