<div class="project-container">
    <div class="usa-grid">
    <article class="card usa-width-one-third">
      <a class="card-link" href="/" aria-hidden="true" tabindex="-1"></a>
      <div class="card-image"
        style="background-image: url();">
      </div>
      <div class="card-banner">
        <h3 class="card-description">
          <span></span>
        </h3>
        <p class="card-summary">COOOL STUUUUUFFF</p>
      </div>
      <a class="card-read" href="/">
        Read more
        <span class="usa-sr-only">about </span>
      </a>
      </article>
      <article class="card usa-width-one-third">
      <a class="card-link" href="/" aria-hidden="true" tabindex="-1"></a>
      <div class="card-image"
        style="background-image: url();">
      </div>
      <div class="card-banner">
        <h3 class="card-description">
          <span></span>
        </h3>
        <p class="card-summary">COOOL STUUUUUFFF</p>
      </div>
      <a class="card-read" href="/">
        Read more
        <span class="usa-sr-only">about </span>
      </a>
      </article>
      <article class="card usa-width-one-third">
      <a class="card-link" href="/" aria-hidden="true" tabindex="-1"></a>
      <div class="card-image"
        style="background-image: url();">
      </div>
      <div class="card-banner">
        <h3 class="card-description">
          <span></span>
        </h3>
        <p class="card-summary">COOOL STUUUUUFFF</p>
      </div>
      <a class="card-read" href="/">
        Read more
        <span class="usa-sr-only">about </span>
      </a>
      </article>
    </div>
</div>
