<style >
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
	height: 450px;
	width: 280px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
}
</style>

<div class="project-container">
  <div class="usa-grid">
    <div class="usa-width-one-third">
        <div class="card">
          <div class="container">
          </div>
        </div>
    </div>  
      
    <div class="usa-width-one-third">
        <div class="card">
            <div class="container">
          </div>
        </div>
    </div>  
      
    <div class="usa-width-one-third">
        <div class="card">
            <div class="container">
          </div>
        </div>
    </div>    
   </div>
</div>
