<style>
h2 {
   	color: #ffffff;
	font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
h5{
	color: #ffffff;
	}
	}
a:hover {
  	text-decoration: underline;
	}
.cardh {
    	height: 250px;
   	width: auto;
	margin: 0;
	padding: 0;
	float: left;
	display: inline-block;
}
.cardh.connect{
	background-color: #3086CC;
}
.cardh.about{
	background-color: #FF522D;
}
.cardh.act{
	background-color: #25669C;
}
.container {
    padding: 16px 16px;
}	
</style>

<div class="project-container">
  <div class="usa-grid">
  
        <div class="cardh connect">
          <div class="container">
		  <h2>Connect with Privacy</h2>
		  <h5><a href="./">Privacy Leadership</a></h5>
		  <a href="./">Council Organization</a>
		  <a href="./">Partners in Privacy</a>
          </div>
	
    </div>  
   
        <div class="cardh about">
	     <div class="container">
		<h2>About Federal Privacy</h2>
		  <a href="./">Browse Law Library</a>
		  <a href="./">Privacy Act of 1974</a>		 
          </div>
        </div>
 	      
      

        <div class="cardh act">
            <div class="container">
	  	<h2>Act with Accountability</h2>
		  <a href="./">FY 2016-2017 Reporting Requirements</a>
		  <a href="./">SAOP Responsiblity</a>
		  <a href="./">Find a Career in Federal Privacy</a>
          </div>
        </div>

   </div>
</div>
