<div class="usa-width-two-thirds">
  <h2 id="big-data">Big Data & Analytics</h2>
  <ul class="usa-accordion-bordered">
     <li>
     <button class="usa-accordion-button" aria-expanded="true" aria-controls="b1">
        Official Studies and Reports
     </button>
    <div id="b1" class="usa-accordion-content">
    <p> Executive Office of the President</p>
      <a href="https://www.whitehouse.gov/sites/default/files/microsites/ostp/NSTC/bigdatardstrategicplan-nitrd_final-051916.pdf">The Federal Big Data Research and Development Strategic Plan (May 2016)</a><br>
      <a href="https://www.whitehouse.gov/sites/default/files/microsites/ostp/2016_0504_data_discrimination.pdf">Big Data: A Report on Algorithmic Systems, Opportunity, and Civil Rights (May 2016)</a><br>
      <a href="">Big Data: Seizing Opportunities, Preserving Values (May 2014)</a><br>
      <a href="">Big Data and Privacy: A Technological Perspective, President’s Council of Advisors on Science and Technology (May 2014)</a><br>
      <a href="">Privacy and Progress in Whole Genome Sequencing, Presidential Commission for the Study of Bioethical Issues (Oct. 2012)</a>
    <br>
    <p>Federal Trade Commission</p>
     <a href="">Big Data: A Tool for Inclusion or Exclusion?  Understanding the Issues (Jan. 2016)</a>
     </div>
     </li>
     <li>
       <button class="usa-accordion-button" aria-expanded="false" aria-controls="b2">
         Second Amendment
       </button>
      <div id="b2" class="usa-accordion-content">
