   
   <H2 class=""sub_section_header" style="text-underline: none;">Judicial Redress Act of 2015 (JRA)</H2>
<DIV class="content">
<H5><A href="https://www.gpo.gov/fdsys/pkg/USCODE-2010-title5/pdf/USCODE-2010-title5-partI-chap5-subchapII-sec552a.pdf" 
target="_blank">5 U.S.C. § 552a note</A></H5><BR>
              <I>See also:</I> <A HREF="https://www.congress.gov/114/plaws/publ126/PLAW-114publ126.pdf">Judicial Redress Act of 2015 (Public Law No. 114-126).</A><BR>
<P>&nbsp;</P>
<H4><STRONG>Overview</STRONG></H4>

               
<P>
The Judicial Redress Act of 2015 authorizes the Department of Justice (DOJ) to designate foreign countries or regional economic integration organizations whose natural citizens may bring civil actions under the Privacy Act of 1974 against certain U.S. government agencies for purposes of accessing, amending, or redressing unlawful disclosures of records transferred from a foreign country to the United States to prevent, investigate, detect, or prosecute criminal offenses.
<BR><BR>
The citizens of such countries or organizations may bring a civil action against: (1) U.S. agencies that intentionally or willfully violate conditions for disclosing records without the consent of the individual to whom the record pertains; and (2) U.S. agencies designated by DOJ, with the concurrence of the agency, that refuse an individual’s request to review or amend his or her records.


<BR><BR>
Source: <A HREF="https://www.congress.gov/114/plaws/publ126/PLAW-114publ126.pdf">Judicial Redress Act</A><BR>


</P>
</DIV>                                                                                                  
                

 <ul class="usa-accordion-bordered">

   
<!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a800">
      Supplemental Material
    </button>
    <div id="b-a800" class="usa-accordion-content">
 
<P><STRONG>U.S. House of Representatives</STRONG></P>
<UL>
  <LI><A href="https://www.congress.gov/114/crpt/hrpt294/CRPT-114hrpt294-pt1.pdf" 
  target="_blank">House Report 114-294: Judicial Redress Act of 2015 </A></LI>
</UL>
<P>&nbsp;</P>




<P><STRONG>White House</STRONG></P>
<UL>
  <LI><A href="https://www.whitehouse.gov/the-press-office/2016/02/24/remarks-president-signing-judicial-redress-act-bill" 
  target="_blank">Remarks by the President at the Signing of the Judicial Redress Act Bill (Feb. 24, 2016)</A></LI>
</UL>
<P>&nbsp;</P>



<P><STRONG>U.S. Mission to the European Union</STRONG></P>
<UL>
  <LI><A href="https://photos.state.gov/libraries/useu/231771/PDFs/Five%20Myths%20Regarding%20Privacy%20and%20Law%20Enforcement_October%209_2012_pdf.pdf" 
  target="_blank">Five Myths Regarding Privacy and Law Enforcement: Access to Personal Information in the European Union and the United States (October 2012)</A></LI>
  <LI><A href="https://useu2.cms.getusinfo.com/dppa.html">U.S. Government Statement on the Initialing of the “Umbrella” Data Privacy and Protection Agreement (DPPA) (Sept. 9, 2015)</A></LI>
</UL>
<P>&nbsp;</P>




<P><STRONG>U.S. Department of Justice</STRONG></P>
<UL>
  <LI><A href="https://www.justice.gov/opa/pr/attorney-general-holder-pledges-support-legislation-provide-eu-citizens-judicial-redress" 
  target="_blank">Attorney General Holder Pledges Support for Legislation to Provide E.U. Citizens with Judicial Redress in Cases of Wrongful Disclosure of their Personal Data Transferred to the U.S. for Law Enforcement Purposes (June 25, 2014)</A></LI>
  <LI><A href=""></A></LI>
</UL>
<P>&nbsp;</P>

    </div>
    
                              
                              
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
                        
