<A NAME="C">

   <p class="section_header">C</p>
   <hr>
  <!--***NAME OF LAW ****  -->

  
<H2 class=""sub_section_header" style="text-underline: none;">Children’s Online Privacy Protection Act (COPPA) </H2>
<DIV class="content">
<H5><A href="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title15/pdf/USCODE-2015-title15-chap91.pdf" 
target="_blank">15 U.S.C. §§ 6501-6505</A></H5>
<P>&nbsp;</P>
<H4><STRONG>Overview</STRONG></H4>

               <p>
          COPPA imposes certain requirements on operators of websites or online services directed to children under 13 years of age, and on operators of other websites or online services that have actual knowledge that they are collecting personal information online from a child under 13 years of age.




<BR><BR>
               Source: <A HREF="https://www.ftc.gov/enforcement/rules/rulemaking-regulatory-reform-proceedings/childrens-online-privacy-protection-rule">Federal Trade Commission “Children’s Online Privacy Protection Rule (“COPPA”)</A>
</P>
</DIV>                                                                                                  
                

<!-- HELPFUL TIPS -->

 <ul class="usa-accordion-bordered">

  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a300">
                Helpful Tips

</button>
    <div id="b-a300" class="usa-accordion-content">
                                                                                                    
                  <A HREF="https://www.ftc.gov/tips-advice/business-center/guidance/complying-coppa-frequently-asked-questions">Complying with COPPA: Frequently Asked Questions </A>                             
                                                
    </div>
  </li>
                    
                    
                    
                
<!-- REGULATIONS -->                
                    
<li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a301">
      Regulations
    </button>
    <div id="b-a301" class="usa-accordion-content">

                                                  
                                                  <p>
                                                 
                <A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2016-title16-vol1/pdf/CFR-2016-title16-vol1-part312.pdf">16 C.F.R. § 312</A>      
               
                                                 
                           </p>
                           
               </div>
           
  </li>
  
<!-- EXECUTIVE ORDERS MEMORANDA AND DIRECTIVES -->
                    
                                                 <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a302">
Executive Orders, Memoranda, and Directives
</button>
    <div id="b-a302" class="usa-accordion-content">

                              
                       
                       
<P><A href="https://www.whitehouse.gov/omb/memoranda_m03-22" 
target="_blank">OMB Memorandum M-03-22, Memorandum for Heads of Executive Departments and Agencies (Sept. 2003) </A></P>
                          
                                                 
                                                 
    </div>
                                                                                      
  </li>

                                                                                                                   
                                                                                                                   

<!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a303">
      Supplemental Material
    </button>
    <div id="b-a303" class="usa-accordion-content">

                                                  
<A href="https://www.ftc.gov/enforcement/rules/rulemaking-regulatory-reform-proceedings/childrens-online-privacy-protection-rule" 
  target="_blank">Federal Trade Commission “Children’s Online Privacy Protection Rule (“COPPA”)</A>

                                                 
    </div>
    
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
                        

                              
                              
         
