<A NAME="top">
<H2 class="section_header">A</A>
<hr>
<H2 class=""sub_section_header">Americans with Disabilities Act of 1990 (ADA) & Rehabilitation Act of 1973 (Rehab Act)</H2>
Americans with Disabilities Act (ADA)<BR>
<h5>Americans with Disabilities Act (ADA)</h5>
<h5><a href="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title42/pdf/USCODE-2015-title42-chap126.pdf">42 U.S.C. §§ 12101 <em>et seq</em></a></h5>
<h6><a href="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title42/pdf/USCODE-2015-title42-chap126-subchapI-sec12112.pdf">42 U.S.C. § 12112(d) Discrimination</a></h6>
<p>&nbsp;</p>
<h5>Rehabilitation Act (Rehab Act)</h5>
<p><strong><a href="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title29/pdf/USCODE-2015-title29-chap16.pdf" target="_blank">29 U.S.C. §§ 701 <em>et seq</em> (Chapter 16 Vocational Rehabilitation and Other Rehabilitation Services)</a></strong></p>
<p>&nbsp;</p>
<h4><strong>Overview</strong></h4>
<p>The <a href="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title42/pdf/USCODE-2015-title42-chap126.pdf">ADA</a> prohibits discrimination and guarantees that people with disabilities have the same opportunities as everyone else to participate in the mainstream of American life &#8212; to enjoy employment opportunities, to purchase goods and services, and to participate in State and local government programs and services. Modeled after the Civil Rights Act of 1964, which prohibits discrimination on the basis of race, color, religion, sex, or national origin – and Section 504 of the Rehabilitation Act of 1973 &#8212; the ADA is an &#8220;equal opportunity&#8221; law for people with disabilities.</p>
<p>The ADA, at <a href="https://www.gpo.gov/fdsys/pkg/USCODE-2011-title42/pdf/USCODE-2011-title42-chap126-subchapI-sec12112.pdf">42 U.S.C. § 12112(d), </a>generally prohibits medical examinations and inquiries of job applicants unless the inquiry is about the ability of the applicant to perform job related functions. The ADA <em>does</em> authorize medical examinations and inquiries by employers with regard to an employee’s request for reasonable accommodation for a disability.  In both instances, there are confidentiality requirements that attach to the records and information gathered.</p>
<p>The <a href="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title29/pdf/USCODE-2015-title29-chap16.pdf">Rehabilitation Act of 1973 </a>(also known as the “Rehab Act”) prohibits discrimination on the basis of disability in programs run by federal agencies; programs that receive federal financial assistance; in federal employment; and in the employment practices of federal contractors. The standards for deciding if employment discrimination exists under the Rehab Act are the same as those used in Title I of the ADA.</p>
<p>The Rehab Act, at 29 C.F.R. § 791(f) and §793(d), provides that these sections of the ADA apply equally to those entities subject to the Rehab Act.</p>
<p>The Americans with Disabilities Act Amendments Act of 2008 (<a href="https://www.gpo.gov/fdsys/pkg/PLAW-110publ325/pdf/PLAW-110publ325.pdf">Public Law 110-325</a>) (ADAAA) further amended the definition of “individual with a disability” and amended sections 12101, 12102, 12111 to 12114, 12201 and 12210 of the ADA and section 705 of the Rehab Act. The ADAAA also enacted sections 12103 and 12205a and re-designated sections 12206 to 12213.</p>
<p>Sources:</p>
<p><a href="https://www.ada.gov/ada_intro.htm">Introduction to the ADA</a></p>
<p><a href="https://www.disability.gov/rehabilitation-act-1973/">Rehabilitation Act of 1973 (disability.gov)</a></p>
<p><a href="https://www.eeoc.gov/laws/statutes/ada.cfm" target="_blank">Titles I and V of the Americans with Disabilities Act of 1990 (ADA) </a></p>
<p><a href="https://www.eeoc.gov/laws/statutes/rehab.cfm" target="_blank">The Rehabilitation Act of 1973 (EEOC)</a></p>
<p>&nbsp;</p>

