   
   <H2 class=""sub_section_header" style="text-underline: none;">Public Health Service Act (Certificates of Confidentiality)</H2>
<DIV class="content">
<H5><A href="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title42/pdf/USCODE-2015-title42-chap6A.pdf" 
target="_blank">42 U.S.C. Ch. 6A</A></H5><BR>
               <A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title42/pdf/USCODE-2015-title42-chap6A-subchapII-partA-sec241.pdf">42 U.S.C. § 241(d)  Protection of privacy of individuals who are research subjects</A><BR>
<P>&nbsp;</P>
<H4><STRONG>Overview</STRONG></H4>

               
<P>

            Under section 301(d) of the Public Health Service Act (42 U.S.C. § 241(d)), the Secretary of the U.S. Department of Health and Human Services may authorize persons engaged in biomedical, behavioral, clinical, or other research to protect the privacy of individuals who are the subjects of that research. This authority has been delegated to the National Institutes of Health (NIH). Persons authorized by the NIH to protect the privacy of research subjects may not be compelled in any Federal, State, or local civil, criminal, administrative, legislative, or other proceedings to identify them by name or other identifying characteristic.


<BR><BR>
Source: <A HREF="https://humansubjects.nih.gov/coc/background">Certificates of Confidentiality Background</A><BR>

</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion-bordered">

  
                    
                    
                
<!-- REGULATIONS -->                
                    
<li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a900">
      Regulations
    </button>
    <div id="b-a900" class="usa-accordion-content">

                                                  
                                                  <p>
                                                  

<BR>
<A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2015-title42-vol1/pdf/CFR-2015-title42-vol1-part2a.pdf">42 C.F.R. § 2a</A><BR>      


</p>
                                                 
                                                 
               </div>
           
  </li>
  
  
  <!-- STATUTORY IMPLEMENTATION GUIDANCE -->
                    
                                                 <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a901">
Statutory Implementation Guidance
</button>
    <div id="b-a901" class="usa-accordion-content">

                              
                       <P><STRONG>U.S. Department of Health and Human Services, Office for Human  Research Protections</STRONG></P>
                      

                       
<P><A href="https://www.hhs.gov/ohrp/regulations-and-policy/guidance/certificates-of-confidentiality/index.html" 
target="_blank">Certificates of Confidentiality – Privacy Protection for Research Subjects: OHRP Guidance (2003)</A><BR>
               
               </P>
                          
    </div>
                                                                                      
  </li>


<!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a902">
      Supplemental Material
    </button>
    <div id="b-a902" class="usa-accordion-content">
 
                                                  <UL>
<LI><A HREF="https://humansubjects.nih.gov/coc/index">National Institutes of Health (NIH) Certificates of Confidentiality</A></LI> 

<LI><A HREF="https://humansubjects.nih.gov/coc/background">NIH Certificates of Confidentiality Background</A></LI>

<LI><A HREF="https://www.cdc.gov/od/science/integrity/confidentiality/index.htm">Centers for Disease Control (CDC) Certificates and Assurances of Confidentiality</A></LI>

<LI><A HREF="http://www.hrsa.gov/publichealth/clinical/HumanSubjects/certificates.html">Health Resources and Services Administration (HRSA) Certificates of Confidentiality</A></LI>
                                                                                       </UL>                            
    </div>
    
                              
                              
   
    </div>
  </li>
 
                              
                              
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
                        
