   
   <H2 class=""sub_section_header" style="text-underline: none;">Federal Agency Data Mining Reporting Act of 2007 (FADMRA) </H2>
<DIV class="content">
<H5><A href="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title42/pdf/USCODE-2014-title42-chap21E.pdf" 
target="_blank">42 U.S.C. § 2000ee-3</A></H5>
<P>&nbsp;</P>
<H4><STRONG>Overview</STRONG></H4>

               
<P>

            The Federal Agency Data Mining Reporting Act of 2007 (FADMRA) is contained in section 803 of the 
            <A HREF="https://www.gpo.gov/fdsys/pkg/PLAW-110publ53/html/PLAW-110publ53.htm">Implementing 
            the Recommendations of the 9/11 Commission Act of 2007</A>.

The FADMRA provides that the head of each department or agency of the Federal Government that is engaged in any “pattern-based” data mining activity shall submit a report to Congress on all such activities of the department or agency under the jurisdiction of that official. The report shall be produced in coordination with the privacy officer of that department or agency, if applicable, and shall be made available to the public, except for an annex as described in subparagraph (c).



</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion-bordered">

                                   

 
                                   
<!-- HELPFUL TIPS -->
                                   
                                   
                                   
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a525">
                Helpful Tips

</button>
    <div id="b-a525" class="usa-accordion-content">
The term “data mining” means a program involving pattern-based queries, searches, or other analyses of one or more electronic databases, where—
<BR><BR>
(A) a department or agency of the Federal Government, or a non-Federal entity acting on behalf of the Federal Government, is conducting the queries, searches, or other analyses to discover or locate a predictive pattern or anomaly indicative of terrorist or criminal activity on the part of any individual or individuals;
<BR><BR>
(B) the queries, searches, or other analyses are not subject-based and do not use personal identifiers of a specific individual, or inputs associated with a specific individual or group of individuals, to retrieve information from the database or databases; and
<BR><BR>
(C) the purpose of the queries, searches, or other analyses is not solely—
<BR>
<UL>
(i) the detection of fraud, waste, or abuse in a Government agency or program; or
<BR><BR>
(ii) the security of a Government computer system.
</UL>
<BR>
The term “database” does not include telephone directories, news reporting, information publicly available to any member of the public without payment of a fee, or databases of judicial and administrative opinions or other legal research sources.

Source: <A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2010-title42/pdf/USCODE-2010-title42-chap21E-sec2000ee-1.pdf">42 U.S.C. § 2000ee-3</A>

         
                                                
    </div>
  </li>
                
  
  
  <!-- STATUTORY IMPLEMENTATION GUIDANCE -->
                    
                                                 <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a526">
Statutory Implementation Guidance
</button>
    <div id="b-a526" class="usa-accordion-content">

                              
                       <P><STRONG>U.S. Department of Homeland Security (DHS)</STRONG></P>
                       
<P><A href="https://www.dhs.gov/publication/dhs-data-mining-reports" 
target="_blank">Data Mining Reports</A></P>
                          
                                                 
                           
   <P><STRONG>Office of the Director of National Intelligence (ODNI)</STRONG></P>
                       
<P>
<A href="https://www.dni.gov/index.php/newsroom/reports-and-publications/204-reports-publications-2014/1120-federal-agency-data-mining-report-2013" 
target="_blank">ODNI, 2013 Data Mining Report</A><BR>
<A href="https://www.dni.gov/index.php/newsroom/reports-and-publications/193-reports-publications-2013/843-section-804-federal-agency-data-mining-report-2012" 
target="_blank">ODNI, 2012 Data Mining Report</A>
</P>
                    
                    
   <P><STRONG>U.S. Department of the Treasury</STRONG></P>
                       
<P><A href="https://www.treasury.gov/privacy/annual-reports/Pages/default.aspx" 
target="_blank">Privacy Act, Annual Reports</A></P>
                                        
                           
                           
    </div>
                                                                                      
  </li>

                                                 
    </div>
    
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
                        
