   
   <H2 class=""sub_section_header" style="text-underline: none;">Homeland Security Act of 2002</H2>
<DIV class="content">
<H5><A href="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title6/pdf/USCODE-2015-title6-chap1.pdf" 
target="_blank">6 USC § 101 et seq</A></H5><BR>
       <i>See also:</i>
       <A HREF="https://www.gpo.gov/fdsys/pkg/PLAW-107publ296/pdf/PLAW-107publ296.pdf">Pub. Law 107-296</A> and the <A HREF="https://www.dni.gov/index.php/about/organization/ic-legal-reference-book/ref-book-homeland-security-act-of-2002">Office of the Director of National Intelligence Legal Reference Book</A>  
       <BR>
<P>&nbsp;</P>
<H4><STRONG>Overview</STRONG></H4>
            
<P>
The Homeland Security Act of 2002 charges the Department of Homeland Security (DHS) Chief Privacy Officer with primary responsibility for ensuring that privacy considerations and protections are integrated into all DHS programs, policies, and procedures. The Chief Privacy Officer serves as the principal advisor to the DHS Secretary on privacy policy.
<BR><BR>
The activities of the Privacy Office serve to build privacy into departmental programs.


<BR><BR>
Sources: <BR>
<A HREF="https://www.dhs.gov/sites/default/files/publications/FINAL-PRIV-Section%20803%20FY16%20Semiannaul%20Report%2007%2006%2016.pdf">Department of Homeland Security, Privacy Office, “Fiscal Year 2016 Semiannual Report to Congress: For the period October 1, 2015 – March 31, 2016,” July 6, 2016</A><BR>
<A HREF="https://www.dhs.gov/chief-privacy-officers-authorities-and-responsibilities/">DHS, Authorities and Responsibilities of the Chief Privacy Officer</A><BR>

</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion-bordered">

                     
<!-- EXECUTIVE ORDERS, MEMORANDA, AND DIRECTIVES -->

  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a641">
                Executive Orders, Memoranda, and Directives

</button>
    <div id="b-a641" class="usa-accordion-content">
                                       
test
    </div>
  </li>
 
  
  
  
  
    
    </ul>                                                
                                                                         
                                                                         
                        
