<P>Protecting the privacy and security of individuals’ personal information is 
very important to us.&nbsp; We do not collect any information that directly 
identifies you when you visit <EM>fpc.gov</EM>&nbsp;unless you choose to provide 
that information by contacting us.&nbsp; However, the website may collect a 
limited amount of information about your visit for the purposes of website 
analytics and customization.&nbsp; Please read this notice to understand what we 
do with the limited amount of information about your visit that we may 
collect.</P>


 <ul class="usa-accordion-bordered" style="width:1300px;">
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a1">
      Information Collected and Stored Automatically
    </button>
    <div id="b-a1" class="usa-accordion-content">
                          <P>As with many Federal Government websites,&nbsp;<A 
href="http://fpc.gov/">fpc.gov</A>&nbsp;is hosted by the U.S. General Services 
Administration (GSA).&nbsp; GSA, or contractors working on behalf of 
GSA,&nbsp;collect limited information about visits to <EM>fpc.gov</EM>.&nbsp; 
This information is used to measure the number of visitors to the various 
sections of our website and to identify performance or problem areas. 
&nbsp;Authorized individuals may&nbsp;also use this information to help us 
develop the site, analyze patterns of usage, and to make the site more useful. 
&nbsp;We do not share or sell visitor data for the purposes of advertising, 
marketing, or any other commercial purpose.&nbsp; This information is not used 
for associating search terms or patterns of site navigation with individual 
users.&nbsp; The information that is automatically collected and stored 
concerning your visit includes:</P>
<UL>
  <LI>the name of the domain from which you access the Internet (i.e., HHS.gov 
  if you are connecting from a HHS domain, or GMU.edu if you are connecting from 
  George Mason University’s domain);</LI>
  <LI>the date and time of your visit;</LI>
  <LI>the pages you visit on&nbsp;<EM>fpc.gov</EM>;</LI>
  <LI>Internet Protocol Address;</LI>
  <LI>the Internet address of the website you came from if it linked you 
  directly to <EM>fpc.gov</EM>; and</LI>
  <LI>search terms that you enter into the <EM>fpc.gov</EM> search tool.</LI></UL>
<P>&nbsp;</P>
                                                                                                             
                                                 
                                                
    </div>
  </li>
                                                    
<li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a2">
      How the Federal Privacy Council Uses Cookies
    </button>
    <div id="b-a2" class="usa-accordion-content">
 
<P>When you visit a website, its server may generate a piece of text known as a 
“cookie” to place on your device. The cookie, which is unique to your browser, 
allows the server to “remember” specific information about your visit while you 
are connected.</P>
<P>There are two types of cookies — single session (temporary) and multi-session 
(persistent). Single session cookies last only as long as your Web browser is 
open. Once you close your browser, the session cookie disappears. Persistent 
cookies are stored on your device for longer periods. Both types of cookies 
create an identifier that is unique to your device.&nbsp; The <A href="https://www.whitehouse.gov/sites/default/files/omb/assets/memoranda_2010/m10-22.pdf">Office 
of Management and Budget Memorandum M-10-22, <EM>Guidance for Online Use of Web 
Measurement and Customization Technologies</EM></A>, allows Federal agencies to 
use both session and persistent cookies to improve the delivery of services.</P>
<UL>
  <LI><STRONG>Session Cookies:</STRONG>&nbsp;We use session cookies for 
  technical purposes, such as to allow better navigation through our site. These 
  session cookies are set by GSA or a contractor acting on GSA’s behalf and let 
  the&nbsp;server hosting fpc.gov know that you are continuing a visit to our 
  site. Our use of session cookies qualifies as “Usage Tier 1—Single Session,” 
  as defined in the OMB M-10-22 guidance.</LI>
  <LI><STRONG>Persistent Cookies:</STRONG>&nbsp;We use persistent cookies to 
  understand the differences between new and returning visitors to 
  <EM>fpc.gov</EM>. &nbsp;Persistent cookies remain on your device between 
  visits to our site until they expire or are removed by the user. &nbsp;As 
  discussed below under “Google Analytics,” our&nbsp;use of persistent cookies 
  qualifies as “Usage Tier 2—Multi-session without personally identifiable 
  information,” as defined in the OMB M-10-22 guidance. The policy states, “This 
  tier encompasses any use of multi-session Web measurement and customization 
  technologies when no [personally identifiable information] is collected.” We 
  do not use persistent cookies to collect personally identifiable 
  information.</LI></UL>
<P>If you do not want to accept cookies, you can edit your browser’s options to 
stop accepting persistent cookies or to prompt you before accepting a cookie 
from the websites you visit. Here are instructions for how you can&nbsp;<A href="https://www.usa.gov/optout-instructions">disable 
cookies and/or Google Demographic and Interests reports</A>.</P>


               </div>
           
  </li>
                    



                                                 <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a3">
      Google Analytics
    </button>
    <div id="b-a3" class="usa-accordion-content">
 <P><EM>Fpc.gov</EM> participates in the <A href="https://www.digitalgov.gov/services/dap/">U.S. 
Digital Analytics Program</A>, (DAP) which utilizes a unified Google Analytics 
account for Federal Government agencies. This program helps Federal agencies 
understand how people find, access, and use government services online.</P>
<P>The DAP is a hosted shared service provided by the General Services 
Administration’s (GSA’s) <A 
href="http://www.gsa.gov/portal/category/25729">Office of Citizen Services and 
Innovative Technologies</A>, and the protocol and information collected are the 
same for all websites participating in the DAP. &nbsp;As a participant in GSA’s 
DAP program, this website’s Google Analytics traffic data is automatically 
reported to GSA.</P>
<P>Google Analytics is a third-party web measurement and customization 
technology as defined in&nbsp;<A href="https://www.whitehouse.gov/sites/default/files/omb/assets/memoranda_2010/m10-22.pdf">OMB 
M-10-22</A> (PDF).</P>
<P>Here is how it works: Google Analytics sets one or more cookies on your 
computer so that it can recognize your computer if you visit the 
<EM>fpc.gov</EM> website in the future. This cookie(s) does not collect 
personally identifiable information. This is considered a Tier 2 usage, as 
defined in the OMB guidance.</P>
<P>Google Analytics does not collect personally identifiable information through 
its cookie(s). The program <A href="https://www.digitalgov.gov/services/dap/common-questions-about-dap-faq/#part-4">does 
not track individuals</A> and <A href="https://support.google.com/analytics/answer/2763052?hl=en">anonymizes 
the IP addresses</A> of visitors.&nbsp; <A href="https://www.digitalgov.gov/services/dap/common-questions-about-dap-faq/">Common 
Questions about DAP (FAQ)</A> provides more information about how Google 
Analytics handles IP addresses.&nbsp; According to GSA’s <A href="https://www.digitalgov.gov/services/dap/common-questions-about-dap-faq/">Common 
Questions About DAP</A>, “none of the federal government data tracked as part of 
the Data Analytics Program will be shared with or available to Google’s 
corporate advertising partners.”</P>
<P>A limited number of authorized individuals will have user accounts that will 
allow them to log in to the Google Analytics dashboard and view or run reports 
regarding visits to<A href="https://www.fpc.gov/federal-privacy-council/"><EM> 
fpc.</EM><EM>gov</EM></A> and the other web metrics available from the DAP.</P>
<P>Visitors who choose to disable this web measurement tool will still have full 
access to <EM>fpc.gov</EM>. &nbsp;While the details vary from browser to 
browser, most modern browsers can be set up to accept, reject, or request user 
intervention when a site asks to set a cookie.</P>
<P>You can view web metrics information at <A 
href="https://analytics.usa.gov/">https://analytics.usa.gov/</A>.</P>



                                                
    </div>
                                                                                      
  </li>




  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a4">
      Information You Choose to Give the Federal Privacy Council
    </button>
    <div id="b-a4" class="usa-accordion-content">
Users of this website may send the Federal Privacy Council feedback or report an issue by sending an email to privacy.council@gsa.gov. If you choose to send us your personally identifiable information, we will only use that information to respond to your message. We only share the information you give us with another government agency if your question relates to that agency, or as otherwise required by law. Fpc.gov never collects information or creates individual profiles for the purposes of advertising, marketing, or any other commercial purpose. We do not create or store lists of email addresses or other information to deliver email alerts, newsletters, or otherwise send marketing messages or contact individuals. When you contact us, any personally identifiable information you provide is voluntary. Please do not include sensitive personally identifiable information or other sensitive information in the content of your email.


                              
    </div>
    
                                                                                      
      </li>
                            
                        


  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a5">
      Children and Privacy on FPC.gov
    </button>
    <div id="b-a5" class="usa-accordion-content">
We believe in the importance of protecting the privacy of children online. The <A HREF="https://www.fpc.gov/childrens-online-privacy-protection-act-coppa/">Children’s Online Privacy Protection Act (COPPA)</A> governs information gathered online from or about children under the age of 13. This site is not intended to solicit or collection information of any kind from children under age 13. If you believe that we have received information from a child under age 13, please contact us at privacy.council@gsa.gov.
	

                              
    </div>
    
                                                                                      
      </li>


  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a6">
      Security
    </button>
    <div id="b-a6" class="usa-accordion-content">

This website was built using <A HREF="https://sites.usa.gov/">Sites</A>, a government-hosted service designed to enable the rapid deployment of government websites in a secure and readily accessible environment. Sites is a product of the Digital Government Division of the Office of Citizen Services and Innovative Technologies in the <A HREF="http://www.gsa.gov/">U.S. General Services Administration</A>. Sites, which hosts www.fpc.gov, provides a secure, <A HREF="https://www.fpc.gov/federal-information-security-modernization-act-of-2014-fisma/">FISMA</A> compliant platform.
The security policy of Sites states, “[f]or site security purposes and to ensure that this service remains available to all users, this government computer system employs software programs to monitor network traffic to identify unauthorized attempts to upload or change information, or otherwise cause damage.”
In addition, the security policy of Sites provides that “[u]nauthorized attempts to upload information or change information on this service are strictly prohibited and may be punishable under the Computer Fraud and Abuse Act of 1986 and the National Information Infrastructure Protection Act.”
We encourage you to visit <A HREF="https://sites.usa.gov/">Sites</A>  if you have additional questions about the government-hosted service.

                              
    </div>
    
                                                                                      
      </li>



  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a7">
      Questions About the Privacy Policy
    </button>
    <div id="b-a7" class="usa-accordion-content">

If you have questions about this privacy policy or the privacy practices of the Federal Privacy Council, please submit your questions to privacy.council@gsa.gov.

                              
    </div>
    
                                                                                      
      </li>

                        
</ul>                                                
                                                                         
                                                                         
                                    
