---
layout: base
---
<section >
  <div class="standard-unit" style="background-image: url('{{ page.background-image | prepend: site.baseurl }}'); height: 200px;">
   <BR><BR><BR><BR>
    <section class="usa-grid usa-section">
     <font style="font-family: 'Poppins', sans-serif; COLOR: #FFFFFF; font-size: 42px; align: left;">Federal Privacy Council</font>
    </section>
  </div>
</section>

     
<section style="background-color: #FFFFFF;">
   <div class="standard-unit" style="background-color:#FFFFFF;">
 {% include federal-privacy-council.html %}  
  </div>
 </section>

     
  
<section style="background-color: #FF522D;">
   <div class="standard-unit" style="background-color:#FF522D;">
 {% include federal-privacy-council-objectives.html %}  
  </div>
 </section>

      
      
     
<section style="background-color: #FFFFFF;">
   <div class="standard-unit" style="background-color:#FFFFFF;">
 {% include federal-privacy-council-organization.html %}  
  </div>
 </section>

      
          
<section style="padding-top: 50px; background-image: none; background-color: #215C8C;">
   <div class="standard-unit" style="background-color: #215C8C">
 {% include federal-privacy-council-other-executive-councils.html %}  
  </div>
 </section>

     
     
   

{% if page.banner-heading %}
<section class="usa-section banner tagline" style="background-color: #a1b1bc;">
  <div class="usa-grid">

    <div class="usa-width-one-whole usa-end-row">
     
<!--
    <div class="usa-width-whole hero-content">
  -->
<h2>{{ page.banner-heading }}</h2>
      {% if page.banner-text %}
        <p>{{ page.banner-text }}</p>
      {% endif %}
      {% if page.banner-button-text %}
      <div class="center-content">
        <a href="{{ page.banner-button-link | prepend: site.baseurl }}" class="usa-button">{{ page.banner-button-text }}</a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}
    
    <BR>

 {% include quick.links.html %}
  
  
