---
layout: base
---

<section>
  <div class="hero-unit" style="background-image: url('{{ page.hero-image | prepend: site.baseurl }}')">
    <div class="usa-grid">
      <div class="usa-width-whole hero-content">
        <h1 class="hero_style" style="font-size:36px;">{{ page.hero-text }}</h1>
        <h1 class="hero_sub_style"  style="font-size:18px;">{{ page.hero-by-line }}</h1>
        <a class="usa-button" style="background-color: transparent; font-size:16px; border-style: solid; 
        border: 1px;  border-color: #FFFFFF; border-radius: 25px;" 
           href="{{ page.hero-button-link }}">{{ page.hero-button-text }}</a>
      </div>
    </div>
  </div>
</section>

<section>
    {% include homecards.html %}
</section>



