<A NAME="B">

   <p class="section_header">B</p>
   <hr>
  <!-- Children’s Online Privacy Protection Act (COPPA)   -->

  
<H2 class=""sub_section_header">Children’s Online Privacy Protection Act (COPPA) </H2>
<DIV class="content">
<H5><A href="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title15/pdf/USCODE-2015-title15-chap91.pdf" 
target="_blank">15 U.S.C. §§ 6501-6505</A></H5>
<P>&nbsp;</P>
<H4>Overview</H4>
<P>COPPA imposes certain requirements on operators of websites or online 
services directed to children under 13 years of age, and on operators of other 
websites or online services that have actual knowledge that they are collecting 
personal information online from a child under 13 years of age.</P>
<P>Source: <A href="https://www.ftc.gov/enforcement/rules/rulemaking-regulatory-reform-proceedings/childrens-online-privacy-protection-rule" 
target="_blank">Federal Trade Commission “Children’s Online Privacy Protection 
Rule (“COPPA”)</A></P>

</DIV>


 <ul class="usa-accordion-bordered" style="width:1300px;">
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a1">
      Helpful Tips
    </button>
    <div id="b-a1" class="usa-accordion-content">
<P><A href="https://www.ftc.gov/tips-advice/business-center/guidance/complying-coppa-frequently-asked-questions" 
target="_blank">Complying with COPPA: Frequently Asked Questions&nbsp;</A></P>
                                                                                                                   
                                                 
                                                
    </div>
  </li>
                                                    
<li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a2">
      Regulations
    </button>
    <div id="b-a2" class="usa-accordion-content">
 
<P><A href="https://www.gpo.gov/fdsys/pkg/CFR-2016-title16-vol1/pdf/CFR-2016-title16-vol1-part312.pdf" 
target="_blank">16 C.F.R. § 312&nbsp;</A></P>


               </div>
           
  </li>
                    



                                                 <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a3">
      Executive Orders, Memoranda, and Directives
    </button>
    <div id="b-a3" class="usa-accordion-content">
 

<P><A href="https://www.whitehouse.gov/omb/memoranda_m03-22" target="_blank">OMB 
Memorandum M-03-22, Memorandum for Heads of Executive Departments and Agencies 
(Sept. 2003) </A></P>

                                                
    </div>
                                                                                      
  </li>




  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a4">
      Supplemental Material
    </button>
    <div id="b-a4" class="usa-accordion-content">

<P><A href="https://www.ftc.gov/enforcement/rules/rulemaking-regulatory-reform-proceedings/childrens-online-privacy-protection-rule" 
target="_blank">Federal Trade Commission “Children’s Online Privacy Protection 
Rule (“COPPA”)</A></P>
                              
    </div>
    
                                                                                      
      </li>
                            
                                                
</ul>                                                
                                                                         
                                                                         
                                    
