---
layout: base
---
{% if page.header-image %}
<section class="usa-section" style="background-image: url('{{ page.header-image | prepend: site.baseurl }}'); max-height: 200px;">
      <div class="usa-grid">
        <div class="usa-width-one-whole">
          <h1 style="color: #ffffff;">{{ page.hero-text }}</h1>
        </div>
      </div>
        {% endif %}
</section>

<section class="usa-section">
  <div class="usa-grid">
    <div class="usa-width-one-whole">

    {{ content }}
    </div>
  </div>
</section>
